[2014-05-17 07:53] Zemledelec opened #9 "Vector layers begins!"

[2014-06-19 15:46] Zemledelec opened #10 "Make the elevations data cache."

[2014-12-07 08:56] Zemledelec opened #12 "Optimize terrain lighting with WebWorkers"

[2015-03-17 08:52] Zemledelec opened #13 "planet memClear works bad"

[2015-05-13 14:40] #9 closed, assigned to Zemledelec

[2015-05-13 14:40] Zemledelec opened #14 "First vector layer is points-billboards layer."

[2016-01-10 16:08] #14 closed, assigned to nobody

[2016-04-13 14:29] #13 closed, assigned to nobody

[2016-07-02 10:31] Zemledelec opened #15 "Improve light source with attenuation and cone lighing."

[2016-07-02 10:32] Zemledelec opened #16 "Create another terrain provider that gets elevation data from ArcGIS or Cesium data servers."

[2016-07-02 10:34] Zemledelec opened #17 "Create planet grid line render node or control based on the linestring entity object. But before makes linestrings terminators in the linestring path definition."

[2016-07-02 10:35] Zemledelec opened #18 "Add the moon in the sky"

[2016-07-03 10:52] Zemledelec opened #19 "WMS layer version and srs query options needed."

[2016-07-03 10:53] Zemledelec opened #20 "CanvasTiles layer needs asynchronous rendering option."

[2016-07-03 10:56] Zemledelec opened #21 "Make vector polyons and multipolygons rendering."

[2016-07-04 08:55] Zemledelec opened #22 "Make linestring ground aligned."

[2016-07-22 12:12] Zemledelec opened #23 "Make points cloud entity object."

[2016-07-26 09:52] #23 closed, assigned to Zemledelec

[2016-09-04 20:34] Zemledelec opened #24 "New layer rendering algorithm done! Congrats!"

[2016-09-04 20:34] #24 closed, assigned to nobody

[2016-10-30 02:25] #19 closed, assigned to nobody

[2016-12-03 21:08] Zemledelec opened #25 "Turn off night glowing on low altitude"

[2016-12-27 21:07] #20 closed, assigned to nobody

[2017-01-05 22:24] Zemledelec opened #26 "Each layer has own terrain provider."

[2017-01-09 19:03] Zemledelec opened #27 "Try it with webpack"

[2017-02-12 09:05] Zemledelec opened #28 "Rename LineString entity to the Polyline. Becouse LineString is a GeoJSON thing that will be rendering on vector layer."

[2017-02-16 12:31] #28 closed, assigned to nobody

[2017-02-16 12:32] #21 closed, assigned to Zemledelec

[2017-04-01 16:42] #25 closed, assigned to Zemledelec

[2017-04-23 09:02] Zemledelec opened #29 "Create HDR post process."

[2017-04-26 14:03] Zemledelec opened #30 "Improve(optimize) polyline rendering."
Current polyline rendering isn't good.  Make it like a lineString in the geometry entity.

[2017-04-28 08:27] Zemledelec opened #31 "Replace Vec3(4) color instances with proper rgba objects"

[2017-05-05 08:41] #30 closed, assigned to Zemledelec

[2017-05-07 16:38] Zemledelec opened #32 "Convenient GeoJSON converter for all geometry purposes needed."

[2017-05-07 17:42] Zemledelec opened #33 "Improve terrain rendering when camera flies at the low altitude."

[2017-06-20 09:21] Zemledelec opened #34 "Remake SDF fonts."
Current label drawing method has to be improved.

[2017-06-22 07:19] Zemledelec opened #35 "Black edge tile bug"
![jg4orp](https://user-images.githubusercontent.com/5452251/27421673-1e5ea802-5734-11e7-818a-d8337e808c21.png)

[2017-06-27 09:14] Zemledelec opened #36 "There is need of 3d objects"

[2017-07-10 09:58] #12 closed, assigned to Zemledelec

[2017-07-10 21:30] #10 closed, assigned to Zemledelec

[2017-07-24 11:30] #35 closed, assigned to Zemledelec

[2017-07-31 19:45] Zemledelec opened #37 "Making for UP static mouse and toouch navigation. First make NORTH pole always on the top during a navigation."

[2017-08-06 16:07] Zemledelec opened #38 "Opacity fading effect for tiles."

[2017-08-06 16:09] Zemledelec opened #39 "Layer of Scanex vector and raster's catalog data source."

[2017-09-09 09:27] #22 closed, assigned to Zemledelec

[2017-09-09 09:28] Zemledelec opened #40 "Apply Service Worker for tiles and terrain"

[2017-09-19 14:33] #15 closed, assigned to nobody

[2017-09-19 14:36] Zemledelec opened #41 "Improve og.Extent creation constructors."

[2017-09-26 11:36] Zemledelec opened #42 "Make default popup(I like leaflet popup)."

[2017-09-26 21:19] Zemledelec opened #43 "Lets make World Mercator, Web Mercatir, UTM and other mercators data work together!"

[2017-09-26 21:21] Zemledelec commented on #43
Its pretty nice work. It would be problem with terrain providers, but globus engine do  allow to make it.

[2017-09-29 14:59] Zemledelec commented on #43
Stopped for now.

[2018-03-20 08:57] Zemledelec commented on #17
Termonators had been done a long tile ago.

[2018-04-17 16:17] trolleway opened #64 "How to convert DEM in GeoTIFF to Openglobus ddm tiles?"
Is there a some command-line tools for that?

There is a new use-case for operate custom DEM: an DJI drone and Agisoft Photoscan software can produce a high-detail DEM and ortophoto imagery. There is a not current tool for easy create a 3d webmap with custom DEM for big area.
I tired CesiumJS, they also still not have converter from DEM to own terrain tiles.

[2018-04-17 16:55] Zemledelec commented on #64
Globus doesn't have special tool for various elevation sets. There is only tool that makes .ddm(height grid) from .hgt (format) files.
I have never thought about it, I have been thinking about google earth, esri, cesium elevation data, that could be used as custom terrain provider with globus api. I suppose that guys have nice elevation data at all.
If you explain the data you have(some example fi

[2018-04-18 11:01] trolleway commented on #64
Here is a real-world examples:
https://yadi.sk/i/altUs9yj3UXGYG
https://yadi.sk/i/8dVKztSN3UXH76
DEM created from 20 flights at DJI Phantom 4 with Agisoft Phtotoscan. Files can be inspected in QGIS.
It shows much more details of hills than google earth data.
![8](https://user-images.githubusercontent.com/4630662/38928454-8fc72054-4311-11e8-9914-6954537e213f.png) http://trolleway.nextgis.com/resour

[2018-05-04 09:02] #41 closed, assigned to nobody

[2018-05-04 09:23] #27 closed, assigned to Zemledelec

[2018-06-02 12:24] Zemledelec opened #77 "Upgrade with WebGL 2.0"

[2018-06-10 00:43] waldenn opened #85 "Earth3 host certificate has expired"
See: https://earth3.openglobus.org/10/376/526.ddm

"Issued On	Friday, November 10, 2017 at 8:05:00 AM
Expires On	Sunday, December 10, 2017 at 8:05:00 AM"

Maybe use the https://letsencrypt.org ACME script for managing these certificates?
I've found their ACME script easy to use (for Apache2).

[2018-06-10 00:48] waldenn commented on #85
From where can this whole DDM dataset be downloaded?

[2018-06-10 00:56] waldenn opened #86 "All the examples should preferably use HTTPS instead of HTTP for their assets"
Eg: url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",

Otherwise there are "mixed-content" problems on HTTPS-only sites.

[2018-06-10 08:01] Zemledelec commented on #85
ddm is a mercator grid tile set with 33x33(SRTM ~3 arc sec) of floats grid for elevation data. ddms are available via http://earth3.openglobus.org/{zoom}/{y}/{x}.ddm check it how it works out here ./terrain/GlobusTerrain.js
ddm was made from here http://viewfinderpanoramas.org/ - > http://viewfinderpanoramas.org/Coverage%20map%20viewfinderpanoramas_org3.htm with some of my handytool from https://g

[2018-06-10 11:08] waldenn commented on #85
Ok, thanks for the info.

[2018-06-10 12:14] waldenn opened #88 "Better mobile support"
I've got an iPad2 with the older iOS9 Safari and OpenGlobus does not work there (black screen on the examples). Maybe the newer iOS Safari does work with the examples?

My windows mobile phone also does not seem to work, though it does support various WebGL / canvas stuff. I don't have an Android phone, but does that work?

Not sure what the issues are (I'm on Linux, so I can't do remote USB debug

[2018-06-10 12:36] Zemledelec commented on #88
I have an android 6 and it works well,
it had worked on ipad air 2 before es6, but it doesn't work right now. But WebGL is ok, I suppose that is something wrong with es6 on safari.

[2018-06-26 08:01] Zemledelec opened #98 "Improve billboards and labels buffers to BYTE or UNSIGNED_INT wherever it possible."

[2018-06-28 03:06] andrewharvey opened #99 "Mapbox RGB Terrain Tiles as a Terrain Provider"
https://blog.mapbox.com/global-elevation-data-6689f1d0ba65

PNG tiles where `height = -10000 + ((red * 256 * 256 + green * 256 + blue) * 0.1)`

[2018-07-01 13:38] waldenn opened #100 "Pass-through event handling for some specific layer"
Is it possible to do pass-through (or pass-on) event handling into a lower layer?

The use case I have for this is showing urbanized regions, but when a user clicks on that polygon geometry, preferably the click would be registered on the country layer (to then show the country info).

The urbanized region object has no country meta-data attached, otherwise that could provide a workaround.

Maybe

[2018-07-02 09:08] Zemledelec commented on #100
I've added pickingEnabled layer option(not sure it's a good name for it, I'll be appreciate if you suggest better one), so check it out here: http://openglobus.org/examples/disableLayerPicking/disableLayerPicking.html

[2018-07-02 09:10] Zemledelec commented on #100
pickingEnabled is true by default

[2018-07-02 14:50] waldenn commented on #100
Works perfectly. Thanks!

The API name sounds good to me. https://en.wiktionary.org/wiki/pickable

[2018-07-02 14:50] #100 closed, assigned to nobody

[2018-07-03 10:34] waldenn opened #102 "events for completing layer rendering"
Maybe it would be nice to be able to have two new events:

- when a specific layer has finished being rendered:  [layer].events.on("completed", ...
- when ALL visible(?) layers have finished rendering: [globe].planet.on("completed, ...

My use case is for updating and removing the "loading" progress bar upon finishing rendering, as there can be quite some time between loading large amounts of data

[2018-07-03 10:49] waldenn opened #103 "configurable transparency blending of base layer tiles"
See a demo of this concept here: https://www.youtube.com/watch?v=Hu8Yd3-WbP4&t=15m10s

Not sure how feasible this is, but its an interesting concept I think.

[2018-07-03 10:53] waldenn opened #104 "Flying mode for navigating the map in 3D"
Demo here: http://www.youtube.com/watch?v=Hu8Yd3-WbP4&t=10m33s

This navigation mode feature could also be used for a WebVR controller I think (when OpenGlobus gets VR support).

Even better, would be to be able to set way points along which to fly and some configurations (speed, type of easing curve, info events, etc.). This could make for some engaging geo-info based story telling.

[2018-07-06 06:52] Zemledelec commented on #103
Isn't it http://openglobus.org/examples/layerOpacity/layerOpacity.html ?

[2018-07-06 06:54] waldenn commented on #103
Ah missed that. Nice.

[2018-07-06 06:54] #103 closed, assigned to nobody

[2018-07-08 21:24] alexgleith opened #110 "Typo on your 'description'"
visialization is usually spelled visualization ;-)

[2018-07-10 10:53] waldenn opened #111 "heatmaps"
An example heatmap [here](http://opengeoscience.github.io/geojs/examples/heatmap/)

Reference implementations:
-   https://github.com/OpenGeoscience/geojs/blob/master/src/heatmapFeature.js
-   https://github.com/pa7/heatmap.js

[2018-07-10 22:54] waldenn opened #112 "improve font rendering performance"
From what I understand this [technique](https://stackoverflow.com/questions/25956272/better-quality-text-in-webgl) could improve text-rendering performance, especially when drawing a lot of text.

An amazing demo [here](http://wdobbie.com/pdf/).

Other implementations:
-   https://github.com/astiopin/webgl_fonts
-   https://github.com/mapbox/tiny-sdf
-   https://github.com/dy/font-atlas-sdf

Some

[2018-07-11 03:52] Zemledelec commented on #112
Globus allready uses sdf technique and font atlas and even billboard batching. It's in _./entity/LabelHandler.js ./utils/SDFCreator.js ./shaders/label.js_ etc. But needs new sdf creation approach, for example prerendered sdf atlases on distant server. Sdf atlas creation  is heavy algorithm for client realtime.
Undoubtedly it needs to be changed.

Tiny-sdf http://cs.brown.edu/people/pfelzens/papers

[2018-07-11 04:22] Zemledelec commented on #64
Quite the same https://github.com/openglobus/openglobus/issues/99 i'm working on.

[2018-07-11 04:25] #33 closed, assigned to nobody

[2018-07-11 04:30] Zemledelec commented on #110
Thanks, mate!))

[2018-07-11 04:30] #110 closed, assigned to nobody

[2018-07-11 11:39] waldenn commented on #112
Ok thanks, feel free to change the title, eg. "option to use a pre-rendered SDF font atlas".

Crazy idea: Maybe something like [GPU.js](https://github.com/gpujs/gpu.js) could be used on the client-side to "automatically compile simple JavaScript functions into shader language and run them on the GPU" one time for each set of fonts/texts and then cached. Not sure how big the output is of such a pro

[2018-07-11 11:51] waldenn commented on #111
Maybe the best way for these sorts of non-essential extensions to OpenGlobus would be some sort of (data visualization / UI ) plugin system. Some very useful plugins could then still be included in the core release. Other similar things: legends, arced graphs between points, etc.

Related: an example of [Deck.gl](http://deck.gl) creating a [3D heatmap](https://github.com/uber/deck.gl/blob/master/e

[2018-07-11 13:33] Zemledelec commented on #111
In this case I use openlayers and leaflet terminology of controls. For example http://openglobus.org/examples/customControl/customControl.html. The basic idea is to create some "control" embeded with engine instance(scene or renderer) e.g. globe.planet.addControl(new MyConrol(myOptions)); I.e. control is an instance that has access to the whole engine.

However the heatmap is more than just ordina

[2018-07-15 12:57] andrewharvey opened #113 "terrain exaggeration"
eg render mountains 2 times heigher

[2018-07-15 15:53] Zemledelec commented on #113
http://openglobus.org/examples/heightFactor/heightFactor.html is it?

[2018-07-15 22:43] andrewharvey commented on #113
Thank you!

[2018-07-15 22:43] #113 closed, assigned to nobody

[2018-07-22 10:19] Zemledelec opened #119 "Make GeoImage GeoVideo etc. with mipmap(and anisotropic) filter. This feature will make GeoImages look more pretty on distant view."

[2018-11-13 09:44] jiapei100 opened #146 "build.core.bat failed to run"
[code]

[2018-11-13 10:32] Zemledelec commented on #146
Sorry, I have just made the same. Did you do **npm install** in the repository folder before?

Thanks! It seems there was a bug with shared.js.

[2018-11-13 11:25] #146 closed, assigned to nobody

[2018-11-14 07:00] jiapei100 opened #149 "Argument: mode, Given: "production\r", Choices: "development", "production", "none" : not founde.bat: 2: ./build.core.bat:"
Do I need parameters to run **build.core.bat**?
[code]

[2018-11-14 07:39] Zemledelec commented on #149
You don't need parameters for the .bat files. Try this **webpack --config webpack.config.core.js**

webpack -v

4.1.1

Also, you can try to install webpack localy and try it from ./node_modules/ for example.

[2018-11-14 19:50] jiapei100 commented on #149
@Zemledelec

[code]

[2018-11-15 06:32] Zemledelec commented on #149
What does **npm install**  say? Does it work fine?

It looks strange _...webpack-cli/bin/cli.js:244_, because if the packages are not installed, you ll see a similar thing, but webpack.js

Unfortunately, I can not repeat the error. I tried on a few machines.

[2018-11-16 04:01] Skyline405 opened #150 "Render sometimes is not full"
If you rotate the camera in a certain way, then a part of the grid is not rendered.

Screens:
![og_bug2](https://user-images.githubusercontent.com/8080553/48597052-5970e980-e98e-11e8-9b3c-5b954a4f39aa.png)
![openglobus_bug](https://user-images.githubusercontent.com/8080553/48597054-5970e980-e98e-11e8-84aa-1768f5b7b2d1.png)

This is code result from main page of documentation.

[2018-11-16 07:34] Zemledelec commented on #150
Thanks, Skyline405! Im going to fix it as soon as I can.

[2018-11-18 10:29] Zemledelec commented on #150
It seems to be working now.
Not published yet, try it locally.

[2018-11-18 21:03] Zemledelec opened #152 "Create timer based tile layer animation example."

[2018-11-18 21:06] Zemledelec opened #153 "Create vector layer time based entity insertion and deletion example."

[2018-11-20 08:08] Zemledelec commented on #150
Actually, it needs to be fixed again.

[2018-12-07 09:30] Zemledelec commented on #77
it's done

[2018-12-07 09:30] #77 closed, assigned to nobody

[2018-12-22 13:12] Zemledelec commented on #150
It seems to be fixed.

[2018-12-22 13:12] #150 closed, assigned to nobody

[2019-01-24 23:47] tstapff opened #164 "setHeightFactor fails when zoomed in on earth surface"
Can be reproduced with http://openglobus.org/examples/heightFactor/heightFactor.html;

Zoom in until OSM level 8 or higher becomes visible, then try to select a different height factor. The application freezes, console output says "TypeError: this.planet is null".

[2019-01-25 08:11] #164 closed, assigned to nobody

[2019-02-18 14:02] Zemledelec commented on #36
Will reopen.

[2019-02-18 14:02] #36 closed, assigned to nobody

[2019-02-18 14:03] #88 closed, assigned to nobody

[2019-02-18 14:03] Zemledelec commented on #38
done.

[2019-02-18 14:03] #38 closed, assigned to Zemledelec

[2019-02-18 14:05] Zemledelec commented on #34
Replaced to https://github.com/openglobus/openglobus/issues/112

[2019-02-18 14:05] #34 closed, assigned to Zemledelec

[2019-02-18 14:06] Zemledelec opened #168 "Optimize MSAA rendering."

[2019-02-18 14:10] Zemledelec opened #169 "Solve a billboard jitter."

[2019-02-18 14:11] Zemledelec opened #170 "Solve terrain jitter."

[2019-02-24 10:47] Zemledelec commented on #168
Close

[2019-03-10 14:20] #29 closed, assigned to nobody

[2019-04-20 07:26] Zemledelec commented on #169
Solved!
Thank you Patrick Cozzi and Kevin Ring!

[2019-04-20 07:26] #169 closed, assigned to Zemledelec

[2019-04-20 07:26] #168 closed, assigned to Zemledelec

[2019-04-20 07:29] Zemledelec commented on #16
Replaced with https://github.com/openglobus/openglobus/issues/99

[2019-04-20 07:29] #16 closed, assigned to nobody

[2019-05-14 07:16] Zemledelec commented on #86
done!

[2019-05-14 07:16] #86 closed, assigned to nobody

[2019-05-14 07:17] Zemledelec commented on #85
Thank, walden! I've done it at last!

[2019-05-14 07:17] #85 closed, assigned to nobody

[2019-05-19 22:32] mike-marcacci opened #176 "Website examples don't work"
Hey there! Just checking out the project (pretty cool!) and noticed that the website examples attempt to load assets from `http` endpoints, while the HTML pages themselves are forced to `https`. Both Chrome and Firefox refuse to load the necessary scripts as a result.

Figured I'd just give you a heads-up!

[2019-05-22 13:46] Zemledelec commented on #170
Solved.

[2019-05-22 13:46] #170 closed, assigned to Zemledelec

[2019-06-03 18:01] Zemledelec opened #180 "Replace Camera::update with deferred update function."

[2019-06-03 19:04] #149 closed, assigned to nobody

[2019-06-06 06:50] Zemledelec commented on #176
Fixed!

[2019-06-06 06:50] #176 closed, assigned to nobody

[2019-06-21 21:09] Zemledelec opened #183 "Create distant mountain fog effect"

[2019-08-18 07:13] jeancaffou opened #188 "Javascript error (getInternalformatParameter) on openglobus.org"
Happens only on Chrome, example works on Firefox

Example on openglobus.org fails to load (black screen) with the error:
[code]

[2019-08-18 08:48] Zemledelec commented on #188
Seems to be that your browser doesn't support webg2. I fixed msaa cheking in webgl1 mode. Check it up! I strongly recommend you to clear the cache like this:
![image](https://user-images.githubusercontent.com/5452251/63222245-ed861080-c1ad-11e9-8be5-10ab5f5fed8b.png)

Havent made exaples publishing yet((

[2019-08-28 12:30] #188 closed, assigned to jeancaffou

[2019-08-28 12:31] jeancaffou commented on #188
Clearing cache works. Thanks

[2019-08-31 08:09] Zemledelec commented on #180
Not necessary! Figured out with camera update sequence.

[2019-08-31 08:09] #180 closed, assigned to Zemledelec

[2019-08-31 08:13] Zemledelec opened #190 "Make polyline vertices with different colors."

[2019-08-31 08:15] Zemledelec opened #191 "Get rid of logarithmic z-buffer"

[2019-09-22 19:31] #190 closed, assigned to Zemledelec

[2019-09-22 19:33] #43 closed, assigned to nobody

[2019-09-22 19:34] Zemledelec commented on #26
Bullshit

[2019-09-22 19:34] #26 closed, assigned to Zemledelec

[2019-09-22 19:35] Zemledelec opened #199 "Make cesium 3D tiles renderer"

[2020-01-02 22:29] #37 closed, assigned to nobody

[2020-02-19 21:33] Zemledelec commented on #39
Closed.

[2020-02-19 21:33] #39 closed, assigned to nobody

[2020-02-24 15:44] #99 closed, assigned to Zemledelec

[2020-02-24 15:51] Zemledelec opened #224 "Make optimization for terrain.equalizeVertices"
1) Use gl.bufferSubData
2) Try to make stopper for rendering neighbors.

[2020-02-24 16:10] Zemledelec opened #225 "Create mapbox terrain example"

[2020-02-26 06:40] Zemledelec commented on #225
Done! http://openglobus.org/examples/mapboxTerrain/mapboxTerrain.html

[2020-02-26 06:40] #225 closed, assigned to nobody

[2020-02-29 10:58] Zemledelec opened #226 "Optimize mapbox(geotiff etc.) terrain tile caching"

[2020-02-29 11:05] Zemledelec commented on #112
This is beatiful!
![Roboto-Regular](https://user-images.githubusercontent.com/5452251/75606315-74705a00-5afc-11ea-889b-19a666e937de.png)

[2020-02-29 13:45] Wiljanneman opened #227 "Initializing camera"
Hi

Am I correct in assuming one would need to use the camera module to set a default camera angle?  Is there an example somewhere explaining the basic usage?

Thanks in advance

[2020-03-01 07:34] Zemledelec commented on #227
Hi! Haven't made yet a good example. If you have any ideas or wishes what could it be for example case I'll do my best! Now, you can check only the code inside examples modules in the /camera folder and here http://openglobus.org/examples/customScene/customScene.html where I show that you can us even your own camera matrices, and here http://openglobus.org/examples/customControl/customControl.html

[2020-03-01 09:59] Wiljanneman commented on #227
Thanks!  Works like a charm

[2020-03-04 11:33] #226 closed, assigned to Zemledelec

[2020-03-04 19:13] Zemledelec opened #228 "Replace object arrays in Billboard modules with typed arrays"

[2020-03-04 19:22] Zemledelec opened #229 "Create geotiff elevation source example"

[2020-03-04 19:23] Zemledelec commented on #64
Replaced to [geotiff example issue](https://github.com/openglobus/openglobus/issues/229)

[2020-03-04 19:23] #64 closed, assigned to Zemledelec

[2020-03-06 08:21] Zemledelec opened #230 "Wrap mapbox terrain elevation data decoding into a worker"

[2020-03-06 08:27] Zemledelec commented on #111
As far as I'm concerned, the heatmaps should be made with real 3d volumes and bloom effect around it.

[2020-03-11 06:53] Zemledelec opened #231 "Make bil(geotiff) elevation data smooth interpolation"

[2020-03-11 06:57] Zemledelec opened #232 "Make multiple terrain providers support"
Separate each provider visualization by its bounds and zoom level.

[2020-03-11 17:27] Zemledelec opened #233 "Fix stairs effect in bil terrain provider"

[2020-03-15 17:08] Zemledelec opened #234 "Make entityCollection render loop in Renderer.js cache friendly"
Replace antityCollection array with linked list by bilboardHandler, label handler etc.

[2020-03-15 17:27] Zemledelec opened #235 "Add terrain provider visible extend property"

[2020-03-15 17:32] Zemledelec commented on #235
![image](https://user-images.githubusercontent.com/5452251/76706890-f61ad700-66fb-11ea-9bfe-8168d91826c1.png)

[2020-03-18 12:43] Zemledelec opened #236 "Test for image src billboard parameter"

[2020-03-18 15:20] #236 closed, assigned to nobody

[2020-03-20 16:40] screwt opened #238 "ddm generation tool"
Hi,
Great Job openglobus work very well.
This issue is there to informe you that I managed to build a ddm generation tool from your initial work:

https://github.com/screwt/openglobusddm

[2020-03-22 07:20] screwt opened #239 "Accented text in label"
The below text doesn't appear on the map
[code]

![screenshot](https://user-images.githubusercontent.com/2142989/77244527-eaf10b00-6c15-11ea-954f-d92bfdc8a2a3.png)

[2020-03-22 08:45] Zemledelec commented on #239
Strange. Ive tried from chrome conosle to set it manually someLayer._entities[0].label.setText("Vous êtes ici"); It looks fine.

![image](https://user-images.githubusercontent.com/5452251/77245759-0a962c80-6c32-11ea-9e78-8847e3636182.png)

Could you check script file encoding with UTF8 and find character ê in src/og/utils/fontAtlas.js ?

[2020-03-22 08:50] Zemledelec commented on #239
Try to set js script file, with label text, encoding to UT8(without signature) codepage 65001.

[2020-03-22 09:06] screwt commented on #239
You were right i was encoding my file in latin-**** editor miss configuration.
Thank you.

[2020-03-22 09:06] #239 closed, assigned to nobody

[2020-03-22 13:32] Zemledelec commented on #238
Thank you! I've took it in the primary opengolus  folder, if you dont mind!)

[2020-03-22 13:32] #238 closed, assigned to nobody

[2020-03-22 17:45] Zemledelec commented on #224
Closed for 1

[2020-03-22 17:45] #224 closed, assigned to Zemledelec

[2020-03-23 20:33] Zemledelec commented on #231
The same as https://github.com/openglobus/openglobus/issues/233

[2020-03-23 20:33] #231 closed, assigned to Zemledelec

[2020-03-23 20:33] Zemledelec commented on #230
...or even webassembly!

[2020-03-27 16:39] Zemledelec commented on #235
Done!

[2020-03-27 16:39] #235 closed, assigned to Zemledelec

[2020-03-27 16:40] #229 closed, assigned to Zemledelec

[2020-03-28 10:30] #228 closed, assigned to Zemledelec

[2020-03-28 10:31] Zemledelec opened #240 "Replace labelHandler arrays with typedArrays"

[2020-03-28 10:34] Zemledelec opened #241 "Compare polyline appendPoint3v and addPoint3v function results"

[2020-04-02 16:42] Zemledelec commented on #241
no bug

[2020-04-02 16:42] #241 closed, assigned to Zemledelec

[2020-04-02 21:04] #240 closed, assigned to Zemledelec

[2020-04-03 16:09] Zemledelec opened #243 "Make shader program instancing support"

[2020-04-04 14:01] maule64 opened #244 "Support for 512 x 512 tiles"
Please add support for XYZ tiles of different image sizes: some TMS, such as NASA GIB tile server, return 512x512 tiles.

[2020-04-05 17:23] Zemledelec commented on #244
Could you give me an example of such image tile provider? ...As far as I know it's possible, but I'm not sure.

[2020-04-05 17:34] Zemledelec opened #245 "Add tile loading timeout"

[2020-04-05 17:49] Zemledelec commented on #244
![image](https://user-images.githubusercontent.com/5452251/78505830-b38a6e80-777e-11ea-88aa-3342f1cd538d.png)
Like this?

[2020-04-05 17:58] Zemledelec opened #246 "Make camera and planetCamera examples"

[2020-04-05 17:58] Zemledelec commented on #227
Replace to https://github.com/openglobus/openglobus/issues/246

[2020-04-05 17:58] #227 closed, assigned to nobody

[2020-04-06 07:38] maule64 commented on #244
Da: Info e-Soft [mailto:info@e-soft.it]
Inviato: lunedì 6 aprile 2020 09:37
A: 'openglobus/openglobus'
Oggetto: R: [openglobus/openglobus] Support for 512 x 512 tiles (#244)

Hi,

this is an example:

https://gibs-a.earthdata.nasa.gov/wmts/epsg4326/best/MODIS_Terra_CorrectedReflectance_TrueColor/default/2020-04-04/EPSG4326_250m/3/2/4.jpg

The api is described at this link: https://wiki.earthdata.n

[2020-04-06 08:15] Zemledelec commented on #244
![image](https://user-images.githubusercontent.com/5452251/78536908-3bac5a80-77f7-11ea-99e5-3123c671ac53.png)

Try this:
[code]
**Little description**
Unfortunately globus cannot render 4326(or any other) projection on the globe, it's always 3857(900913) and right now the only way is to use 3857 tileset, wms etc. In the url above there is 4326 I've changed to 3857, and it works fine for me.
4326:

[2020-04-06 08:31] Zemledelec commented on #244
In https://wiki.earthdata.nasa.gov/display/GIBS/GIBS+API+for+Developers#GIBSAPIforDevelopers-WGS84/Lat-lon/Geographic(EPSG:4326)

There is good **Projections & Resolution** section. 3857 is the only projection globe work with.
On the poles >85 <-85deg. globe show  WMS on 4326 only.

[2020-04-06 09:20] maule64 commented on #244
It works very fine!

NASA GIBS also support multi-server parameter "{s}":

https://gibs-{s}.earthdata.nasa.gov/wmts/epsg3857/best/MODIS_Terra_CorrectedReflectance_TrueColor/default/2020-04-04/EPSG3857_250m/{z}/{y}/{x}.jpg

P.S.: We work with GIS Systems and I asked to contact you on linkedin as "Mauro"...

[2020-04-06 09:59] Zemledelec commented on #244
Good!

[2020-04-06 09:59] #244 closed, assigned to nobody

[2020-04-10 09:23] Zemledelec opened #247 "Apply multiple frustum rendering"

[2020-04-10 09:24] Zemledelec commented on #191
Replaced with https://github.com/openglobus/openglobus/issues/247

[2020-04-10 09:24] #191 closed, assigned to Zemledelec

[2020-04-13 13:25] #247 closed, assigned to Zemledelec

[2020-04-15 15:16] screwt opened #251 "Marker beeing rendered when it should not."
On the page https://www.openglobus.org/ you can reproduce this bug.

Here is a video:

![output](https://user-images.githubusercontent.com/2142989/79354547-d49c4d80-7f3c-11ea-9c2f-8db98cfb15a6.gif)

[2020-04-15 17:26] Zemledelec commented on #251
Actually, interesting question. There is an option for Vector layer polygonOffsetUnits which is **The multiplier by which an implementation-specific value is multiplied with to create a constant depth offset** is -637000.0 by default. You can vary this option to get appropriate exposition among the hills. For example polygonOffsetUnits resolve the issue, but part of the label goes under the ground

[2020-04-15 18:14] screwt commented on #251
Understood.
-637000 is a webgl default or openglobus default?

[2020-04-15 21:03] Zemledelec commented on #251
Openglobus default. 0 for gl.

On Wed, Apr 15, 2020, 21:14 screwt <notifications@github.com> wrote:

[2020-04-16 09:17] Zemledelec commented on #251
I use cheap planet triggers like this:
[code]
planet camera has a lot of parameters such as slope, altitude, front vectors etc.

[2020-04-21 15:43] Zemledelec commented on #42
Done!

P.S.
Need examples

[2020-04-21 15:43] #42 closed, assigned to nobody

[2020-04-26 11:29] Zemledelec opened #252 "Make interior strip example"

[2020-04-26 11:29] Zemledelec opened #253 "Make ray example"

[2020-04-26 11:30] Zemledelec opened #254 "Make lighting parameters example"

[2020-04-26 11:32] Zemledelec commented on #233
No reason to do this

[2020-04-26 11:32] #233 closed, assigned to Zemledelec

[2020-04-27 16:30] Zemledelec commented on #252
Added
http://openglobus.org/examples/strip/strip.html

[2020-04-27 16:30] #252 closed, assigned to nobody

[2020-04-27 16:50] Zemledelec opened #255 "Try WebAssembly in a function"

[2020-04-29 05:00] screwt commented on #251
This issue can be closed if you want i think

[2020-04-29 07:40] #251 closed, assigned to nobody

[2020-04-29 07:41] Zemledelec opened #256 "Create popup example"

[2020-04-29 07:42] Zemledelec opened #257 "Create object bearing movement example"

[2020-05-01 11:20] Zemledelec commented on #256
http://openglobus.org/examples/pointPopup/pointPopup.html

[2020-05-01 11:20] #256 closed, assigned to nobody

[2020-05-05 08:56] Zemledelec opened #258 "Fix mem leaks in loaders"

[2020-05-05 08:57] Zemledelec opened #259 "Create scale display control"

[2020-05-05 19:17] #258 closed, assigned to Zemledelec

[2020-05-05 19:18] Zemledelec opened #260 "Improve memory management and make less memory consumption"

[2020-05-07 15:26] Zemledelec commented on #259
Scale for 10, 5, 3, 2, 1...xN

[2020-05-09 12:38] #260 closed, assigned to Zemledelec

[2020-05-17 08:21] #259 closed, assigned to nobody

[2020-05-17 13:25] Zemledelec opened #261 "Fix custom scene example"

[2020-05-28 10:50] Zemledelec opened #262 "Fix event handler on objects"

[2020-07-15 18:13] karpatidaniel opened #263 "MapboxTerrain with XYZ osm layer anomaly"
Dear All!

I have encountered an issue when using OSM layer with MapBox terrain.

The symptoms are:

- quite often, when zoomed and tilting the camera the neighboring tiles are displayed incorrectly

I have attached a short video of this behavior (sorry for low quality), but below is a screenshot respresenting this display-anomaly.

![thames_weird](https://user-images.githubusercontent.com/2586422

[2020-07-15 20:06] Zemledelec commented on #263
Hi Daniel!

I've caught the bug. It also affects bil terrain data. I have fixed it locally just now! Give me a time to release it...

[2020-07-16 09:56] kobbe opened #264 "No information on how to enable 3D"
I almost discarded the project as not useful since I did not understand that you had to use shift key rotate the camera. Would be great if there were any clue to use the shift key.

[2020-07-16 10:23] Zemledelec commented on #264
I can make an example, how to use keyboard handler. Do you want to disable shift key camera rotation?

[2020-07-16 14:58] kobbe commented on #264
No, I meant mostly on https://www.openglobus.org/. How does the user understand to use the shift key?

[2020-07-17 10:00] alacst opened #265 "issue with lighting off"
Hey,

I've noticed some rendering issues with the lighting turned off when tilting the camera. Seems like it affects the example code aswell.

With the lighting on, everything is fine:
![kép](https://user-images.githubusercontent.com/22245820/87774258-973da980-c824-11ea-979b-e3719b81e703.png)

But when turned off, random blue shapes appearing:
![kép](https://user-images.githubusercontent.com/22245

[2020-07-17 11:17] Zemledelec commented on #265
Hi Tibor! Good bug, I almost forget that globe has no lighting pass)) I've got the problem. I'll try to fix it with next release.

[2020-07-21 13:49] Zemledelec commented on #265
Fixed with https://github.com/openglobus/openglobus/releases/tag/v0.4.3

[2020-07-21 13:49] #265 closed, assigned to Zemledelec

[2020-07-21 13:49] Zemledelec commented on #263
Fixed with https://github.com/openglobus/openglobus/releases/tag/v0.4.3

[2020-07-21 13:49] #263 closed, assigned to Zemledelec

[2020-07-21 22:04] johnsvpaul commented on #264
when using this what needs to be put in the HTML code? It just says 'globus div' could you please show an example

[2020-07-22 07:12] Zemledelec commented on #264
There are two ways:

1. Add hint to the homepage, because og is a library, like just code
2. Use the library control class in folder control.Control.js, for instance look ShowFps.js or DebugInfo.js

As for me I prefer the first approach, but you could propose neat hint solution with the second one.

To support the second approach the hint will be displayed in the examples, but in real life it is u

[2020-07-28 13:02] alacst opened #266 "rendering negative terrain data"
Hey,

I've been playing around with the Mapbox terrain. With a custom tileset using heights ranging from -50 to -300 meters, the library seem to ignore values lower than -100m and render a much higher constant surface. According to the Mapbox RGB terrain tile coding, the range should be starting around -3400m.
Tried to debug without success, any help would be greatly appreciated.

Thanks,
Tibor

[2020-07-28 22:17] Zemledelec commented on #266
TerrainWorker.js 232 etc. Ill fix it, need somehow to solve no data points which are always big negative and the same time compativle with differend terrain data sources.

[2020-07-29 08:28] alacst commented on #266
I'll check it, thank you!

[2020-07-30 14:48] fridl8 opened #267 "API"
The API documentation page on the website has been showing a 404 for myself and a few others I've talked to for the past week or so.  I didn't see any contact information on the site or GitHub page for an issue like this and I wanted it to get some visibility.  Is there another place to check the documentation?

[2020-07-30 18:24] Zemledelec commented on #267
Thank you! I missed it when removed to another host server. I'll fix it!

[2020-07-31 20:38] Zemledelec opened #268 "Make center view(elevation + azimuth) icon"

[2020-07-31 20:39] Zemledelec opened #269 "Zooming is somehow "slow", especially on smartphone (should drop frames to keep timing if CPU is too slow)"

[2020-07-31 20:41] Zemledelec opened #270 "Create example of how to draw lines on the ground"

[2020-08-01 08:11] Zemledelec commented on #267
Done! [API](https://www.openglobus.org/api/). Have to say, the API is not full and sometimes out of date. I suggest to look at the [examples](https://www.openglobus.org/examples.html) first.

[2020-08-01 08:11] #267 closed, assigned to nobody

[2020-08-22 08:18] Zemledelec commented on #268
Added CompassButton control

[2020-08-22 08:18] #268 closed, assigned to nobody

[2020-08-24 14:51] karpatidaniel opened #271 "Question about gridSizeByZoom in Terrain classes"
Hi

I have a question related to the gridSizeByZoom array in the GlobusTerrain class.
Actually I am using it in MapboxTerrain, but I need a little more precise terrain around zoom level 21. How should I modify the gridSizeByZoom array to achieve this?

I have tried to use this one:
`this.gridSizeByZoom = [64, 32, 32, 16, 16, 16, 16, 16, 64, 32, 32, 16, 16, 16, 32, 64, 128, 128, 128, 128, 128, 128]

[2020-08-24 15:25] Zemledelec commented on #271
Hi, karpatidaniel!

Are you sure that mapbox terrain has 21 zoom level precision?

I have tried 20 level and see "squared" elevation image:

![image](https://user-images.githubusercontent.com/5452251/91063889-341b1000-e637-11ea-8050-a72f64b63209.png)

As far as I understand current mapbox terrain realization has already enough precision maxZoom is 15. If I wrong I ll try to fix it!

Could you give

[2020-08-24 16:05] Zemledelec commented on #271
For the previaous answer I have this for 21 zoom level:

![image](https://user-images.githubusercontent.com/5452251/91068251-ae9a5e80-e63c-11ea-96d8-183ae1748f58.png)

P.S.
And yes there is a bug for 128 grid size. 64 only works fine. I'll make a fix.

[2020-08-24 16:09] karpatidaniel commented on #271
Thank you Zemledelec.
If you need my elevation tiles I can send it (only 1MB zipped for this tiny area).

[2020-08-24 19:44] Zemledelec commented on #271
Could you send me your tile set to my email mgevlich@gmail.com, please?

[2020-08-26 08:20] der-stefan commented on #269
The problem is that the current map view still needs a lot of CPU, even when the view stands still after zooming/panning and loading the terrain data. Once there is no interaction, the rendered view does not change and should not produce heavy load.

[2020-08-26 09:50] Zemledelec commented on #269
Reasonable issue! This is optimization task. A big step in this way is to stop passing through tile segments tree when camera is still. But whole scene have to stay in the frame loop.

P.S.
I'm not sure It helps a lot with zooming.

[2020-08-26 18:54] Zemledelec commented on #271
![image](https://user-images.githubusercontent.com/5452251/91345063-7daa5d00-e7e7-11ea-9d80-c690fafd81ee.png)
![image](https://user-images.githubusercontent.com/5452251/91345080-8438d480-e7e7-11ea-904c-fa0855b0fc42.png)
![image](https://user-images.githubusercontent.com/5452251/91345134-96b30e00-e7e7-11ea-9d57-bdedd4ff55f8.png)
![image](https://user-images.githubusercontent.com/5452251/91345220-b0

[2020-08-27 09:21] karpatidaniel commented on #271
The tileset I sent you contains nodata. With a correct tileset it looks great. We are still testing it.
Thank you.

[2020-08-27 11:04] alacst commented on #271
Hey,

It's way better than before. However, with the correct tileset, max zoom set to 21 and 64 being the max value in the gridsizebyzoom array, some blue tearing appears.
![kép](https://user-images.githubusercontent.com/22245820/91434802-a5d8a100-e865-11ea-95fd-8799848be761.png)

Still testing though.

Thank you

[2020-08-27 11:42] Zemledelec commented on #271
Did you fill manually gridSizeByZoom like [64, 32, 32, 16, 16, 16, 16, 32, 64, 128, 128, 128, 128, 128, 128, 128, 128, 128, 128, 128, 128, 128, 64, 32, 16... ... ... ...] up to 64 + 4(for example),

[code]

[2020-08-27 12:01] alacst commented on #271
Yes, we've been playing around with the array.
The attached pic used that array:
`this.gridSizeByZoom = [8, 8, 8, 16, 16, 16, 32, 32, 32, 32, 32, 32, 32, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64];`
Memory load is pretty high with 64 or 128 at the higher zoom levels, the details are looking good.
If I'm not mistaken, that array goes from 0...1...2... zoom levels telling the renderer to use the given

[2020-08-28 11:26] Zemledelec commented on #271
Yes, could I take a glance to the prototype? mgevlich@gmail.com

[2020-08-28 11:42] alacst commented on #271
Hey,
It should be there.
Thank you

[2020-09-17 15:58] alacst opened #272 "Changing TerrainProvider on the go"
Hey Mike,

Is it possible to change the terrainprovider without reloading the library?

Thank you

[2020-09-19 16:30] Zemledelec commented on #272
Done!
[http://openglobus.org/examples/terrainSwitch/terrainSwitch.html](http://openglobus.org/examples/terrainSwitch/terrainSwitch.html)

P.S.
Not the best decision...but it works!

[2020-09-19 16:30] #272 closed, assigned to Zemledelec

[2020-09-30 11:11] riccardolardi opened #273 "Feature request: Marker clustering possible?"
I'm evaluating different interactive globe solutions for a project. Does OpenGlobus have some kind of clustering algorithm / display for overlapping markers?

[2020-10-01 08:31] Zemledelec commented on #273
Hi riccardolardi!

Sorry, right now og can't do point clustering.

P.S.
Good news, it's always open for such features!

[2020-10-02 12:56] riccardolardi opened #274 "Feature request: possible to use MapTiler custom tiles?"
Is it possible to use custom made map tiles from maptiler.com?

[2020-10-02 13:35] Zemledelec commented on #274
No. Only raster tiles. Would be nice to see vector data on the curves of a terrain data) It is no easy.

[2020-10-04 18:48] #271 closed, assigned to nobody

[2020-10-04 18:50] Zemledelec opened #275 "Make shader program example"

[2020-10-21 11:48] Zemledelec opened #276 "Change SHIFT to ALT rotation button"

[2020-10-21 12:51] #276 closed, assigned to Zemledelec

[2020-10-30 16:22] #266 closed, assigned to Zemledelec

[2020-11-19 14:35] alacst opened #279 "Visible terrain tile borders and blue tearing"
Hey Mike,

I've noticed 2 possible bugs in the library.
The tile borders are visible on all terrain providers. I'm almost certain this came within the last few versions.
The other one comes with camera movement. Some angles make a blue layer growing slowly.
Here's a pic of them both:
![kép](https://user-images.githubusercontent.com/22245820/99679759-98097500-2a7c-11eb-8205-91e3a8e38a92.png)
Thats

[2020-11-19 16:49] Zemledelec commented on #279
Hi, Alacst!

Unfortunately, the bug has always been. It's less visible on a satellite layer. I can't fix it right now.

I'll try to fix the bug in the next release.

[2020-11-19 17:01] Zemledelec commented on #279
http://openglobus.org/examples/customControl/customControl.html?e=3925092.00286,3581456.33304,-3540876.96315&f=0.06108,-0.58323,0.81001&u=0.97905,0.19293,0.06509

[2020-11-20 11:39] #279 closed, assigned to nobody

[2020-12-17 10:31] alacst opened #281 "Can it draw circles?"
Hey,

Is it possible to draw circles? Like a distance measurement around a point.
Leaflet draw can output JSON circle features with a given point and radius. I've tried to use this as a vector layer, but it seems like the API doesn't support circles.

Thank you

[2020-12-17 11:41] Zemledelec commented on #281
Hi, alacst! You can use Polygon from geoJson. But right now you should make coordinates of a circle by yourself. I prefer to use Polyline and Vector layer groundRelative option, like here: https://openglobus.org/examples/polylineOnTheGround/polylineOnTheGround.html.
But circle coordinates it is up to you. I could make it as api part, but don know how to make it properly.
Any suggestions?

Cheers!

[2020-12-17 12:52] alacst commented on #281
Hey, I was thinking maybe using the billboards for this. With a custom png/svg and a fixed size property that won't let the engine scale it to the screen but scale it to the current scaling to be sized correctly all the time.

[2020-12-17 14:04] Zemledelec commented on #281
1) Don't like it. I mean how to make circles for instance:
[code]
2) Do you need solid circle or just outline?

[2020-12-17 14:37] alacst commented on #281
I've tried using the polyline. Drawing just a circle already seems to be harder than I tought.
![kép](https://user-images.githubusercontent.com/22245820/102500608-c9c22b80-407c-11eb-89b3-6a820de2a024.png)
I'm getting an ellipsis instead of a circle. The problem is that I'm calculating the points from the center LonLat, so my radius will be distored depending on the location. At 0,0 lonlat, it's a

[2020-12-18 11:20] alacst commented on #281
Not related to this question but I have run into some problems with webgl. On iOS, webGL 2.0 is disabled by default. Running the lib like this is super fast but I can see some differences in the appearance of the terrain. If I enable 2.0, I'm getting a null object from the getMaxMSAA function in Renderer.js (line 532), therefore it won't even load. Running on anything else but iOS is fine (a bit s

[2020-12-18 17:12] Zemledelec commented on #281
Making an example:
![image](https://user-images.githubusercontent.com/5452251/102641550-4df3dc00-416d-11eb-83e7-a1d574be7ddc.png)

[2020-12-18 17:13] Zemledelec commented on #281
I'll check it up.

[2020-12-19 09:06] Zemledelec commented on #281
Here is the example http://openglobus.org/examples/circlesOnTheGround/circlesOnTheGround.html

[2020-12-20 10:53] alacst commented on #281
Looking great! Thank you

[2020-12-28 08:40] #281 closed, assigned to Zemledelec

[2021-01-29 13:01] Flemingjp opened #283 "Add Release Build Examples"
All examples import from source, not from any release build. It would be good to see examples using the release builds, as I am unable to import the correct classes uses the release build.

[2021-01-29 13:30] Zemledelec commented on #283
Like this https://github.com/openglobus/openglobus/tree/master/examples ?

Sorry, I don't understand, could you please provide specific example?

[2021-01-29 13:42] Flemingjp commented on #283
[code]
 But using the `og-0.5.8.js` release build instead. I am currently unable to import those classes - I maybe missing something but an example would be appreciated.

[2021-01-31 08:05] Zemledelec commented on #283
Actually, I've never thought about this. For now I'd recomend use the whole repo as I do. But I'll see what I can do. I have found this https://medium.com/@adostes/authoring-a-javascript-library-that-works-everywhere-using-rollup-f1b4b527b2a9. Could help I think.
P.S.
Also, you are welcome to improve it! ;)

[2021-01-31 08:07] Zemledelec commented on #274
Not possible for now(

[2021-01-31 08:07] #274 closed, assigned to nobody

[2021-01-31 08:10] Zemledelec commented on #264
Changed whith Alt key. Going to add a hint in the homepage.

[2021-01-31 08:16] Zemledelec commented on #262
If you have multiple objects trigger handler, you have to bind this into the handler function first with different function name. And do not forget to make off on the handler. For example:
class MyClass
...
this.onMyEvent__ = this.onMyEvent.bind(this);
events.on("myevent", this.onMyEvent__, this);
...
events.off("myevent", this.onMyEvent__);

[2021-01-31 08:16] #262 closed, assigned to nobody

[2021-01-31 08:18] Zemledelec commented on #234
I think it is cache friendly enough.

[2021-01-31 08:18] #234 closed, assigned to Zemledelec

[2021-02-02 15:10] alacst commented on #246
Hey Mike,
can you make an example on these? I'm trying to use the flyLonLat function with the camera ending up looking at the scene at a certain angle. All I've found is the billboards on the ground example, where you set the camera with 3 vectors (eye, look, up). Unfortunately I cannot figure out how to set these vectors for my need.
Thank you!

[2021-02-06 11:45] Zemledelec commented on #246
Check this out!
http://openglobus.org/examples/cameraFly/cameraFly.html

P.S.
Not the best looking view trajectory, I suppose this is another task:)

[2021-02-07 09:26] Zemledelec opened #284 "Fix close distance picking precision"
Replace height framebuffer with depth buffer

[2021-02-07 09:42] Zemledelec opened #285 "Incorrect vector tile rendering on high zoom levels"

[2021-02-07 09:46] Zemledelec commented on #98
Close for low priority purpose.

[2021-02-07 09:46] #98 closed, assigned to nobody

[2021-02-12 10:31] Zemledelec opened #287 "Make bound volumes rendering around segments"
for debug purpose

[2021-03-05 15:04] #287 closed, assigned to Zemledelec

[2021-03-05 19:43] jdohm commented on #253
I tried, but I'm not sure I understood what the ray actually should look like. I you could explain what it should look like maybe I'm able to provide an example :)

(I set a ray, just like you would set a billboard or a polyline but there was nothing visible when looking at it)

[2021-03-05 19:56] jdohm commented on #285
Not sure if this is the same, but there seems to be a bug with chromium on Ubuntu which renders some things incorrect (even though they are rendered correctly on Firefox or any browser I tested on Windows/Android)

Here is an example of this happening inside the brave browser on Ubuntu. The missing part of the yellow polyline is another polyline behind the globe.

![image](https://user-images.gith

[2021-03-05 20:10] jdohm opened #295 "getLonLatFromPixelTerrain sometimes returns wrong height"
This is for example a problem on the [billboardsDragging example](http://openglobus.org/examples/billboardsDragging/billboardsDragging.html) where you can't reliable created billboards on the pole region.

If you add `ll.height = 0;` before setting the billboard it works just fine (besides that depending on where you click, you click right through the billboard and create a new billboard instead o

[2021-03-05 21:35] Zemledelec commented on #285
First quick, If you use layer Vector try option `'polygonOffsetUnits': -100000`(more or less), for example.
[code]

[2021-03-05 21:38] Zemledelec commented on #295
Hmm, interesting! Thanks! I'll check it up.

P.S.
Yep, poles and billboard highly likely are broken somehow...

[2021-03-05 21:49] Zemledelec commented on #253
Hey!

Ray it is kind of Polyline, but more times faster to render)) If you need just rays of course. For example spins or direction.

Try something like this:
[code]

![image](https://user-images.githubusercontent.com/5452251/110177288-cd608580-7e15-11eb-81ee-526418c5383a.png)

[2021-03-05 22:24] jdohm commented on #285
I'm using the vector layer, but I'm not using rays, what you see are polylines (just in case this matters).

Setting `polgygonOffsetUnits` to `-100000` doesn't have any effect (at least that I can tell). As this issue only arises when using a chromium based browser on linux, this isn't that critical to fix for me right now.

Just for clarification what I'm doing:
[code]

[2021-03-05 22:26] jdohm commented on #295
This isn't specific to billboards nor poles for what I can tell.
It's only more likely to happen on the poles for some reason but this also happens with polylines and on other places (just not as often).

[2021-03-06 00:15] jdohm commented on #253
Thanks for the help, I did a simple example. However, it always shows the ray even if it should be behind the globe.

here is what I did:

ray.html
[code]

ray.js
[code]

[2021-03-06 07:23] Zemledelec commented on #253
Hey! Now you know about `polygonOffsetUnits` :)

Default is -637000.0

[code]

[2021-03-07 12:10] #253 closed, assigned to nobody

[2021-03-18 10:25] #112 closed, assigned to nobody

[2021-03-19 14:01] Zemledelec opened #300 "Create npm tutorial"

[2021-03-21 02:41] jdohm commented on #285
Hey @Zemledelec just wanted to let you know, your new font example has the same problem as I have described [3 comments up](https://github.com/openglobus/openglobus/issues/285#issuecomment-791646793)

The white text gets rendered above the black one.
![image](https://user-images.githubusercontent.com/9203094/111891944-165c3080-89f7-11eb-852d-8ab620608fab.png)

This only happens on chromium based b

[2021-03-25 12:44] Zemledelec commented on #285
Hi, jdohm! Could you please check it up again? I've made a few fixes.

Explanation:
polygonOffsetUnits: -100000 too large for 16 bit ubuntu z buffer. I changed the value to 0.

[2021-03-25 21:23] jdohm commented on #285
Hi @Zemledelec, you got a tiny PR (correcting the include path from Entity to entity) but other than this, you fixed both of my issues (https://github.com/openglobus/openglobus/issues/285#issuecomment-791646793 and https://github.com/openglobus/openglobus/issues/285#issuecomment-803502260). Great work!

[2021-04-20 14:15] karpatidaniel opened #305 "Vector geometry misaligned lines"
Hi,
We are experiencing the following output when using geoJSON-based geometry on vector layer. Our geoJSON stands of basically elevation contour points, each feature represents 1m elevation contour.
![image_2021_04_19T13_26_47_440Z](https://user-images.githubusercontent.com/25864223/115252120-785da200-a12b-11eb-882d-7cb62fdcbc69.png)
![image_2021_04_19T13_26_56_837Z](https://user-images.githubuse

[2021-04-20 16:28] Zemledelec commented on #305
Hi! I know the source of the bug. I'll fix it as soon as possible. Sorry, but need time.

P.S. Clamping to the ground means that each point of the ground clamped geometry is checked for collision with terrain. So, you have performance issue. Better use vector geojson as you do, or turn off ground clamping, but you need each point height above ellipsoid in geojson...actually, I cant say it is also

[2021-04-20 16:29] Zemledelec commented on #285
Closed for https://github.com/openglobus/openglobus/issues/305

[2021-04-20 16:29] #285 closed, assigned to Zemledelec

[2021-04-21 14:03] Zemledelec commented on #305
Hey! (master updated)

maxZoom property doesn't work in this case! But you can try decrease terrain option new EmptyTerrain({
        gridSizeByZoom: [32, 16, 16, 8, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
    })
for only 21 zoom levels, for now, it doesn't solve the problem, and I'm working on it, but it is the only way for now. Of course  it will not help if you show more than 21 z

[2021-04-21 14:07] Zemledelec commented on #305
...another tip! You could try geoserver for your geojson rasterization(publication) and use WMS layer for it!

http://openglobus.org:8080/geoserver/tiger/wms?service=WMS&version=1.1.0&request=GetMap&layers=tiger%3Apoly_landmarks&bbox=-74.047185%2C40.679648%2C-73.90782%2C40.882078&width=528&height=768&srs=EPSG%3A4326&format=application/openlayers

http://openglobus.org/examples/layerSwitcher/layerS

[2021-04-22 10:12] Zemledelec commented on #305
I've fixed lines! You could please check it out in the https://github.com/openglobus/openglobus/tree/bugfix/305_geojson_misaligned

[2021-04-23 15:53] karpatidaniel commented on #305
Much better, thank you.
![image](https://user-images.githubusercontent.com/25864223/115897294-8cbbda80-a45c-11eb-9ec6-9d9aaade1325.png)

We are considering the use of geoserver. It seems a quite good opportunity.

[2021-04-26 12:46] Zemledelec commented on #305
Closed wia https://github.com/openglobus/openglobus/pull/309

[2021-04-26 12:46] #305 closed, assigned to Zemledelec

[2021-04-29 08:35] wizzed opened #310 "Methods to clean up the globe"
I have an issue where 4 dedicated workers are created every time a map is created. Are there any methods to clear up the workers or to clean up the map?

[2021-04-29 11:27] Zemledelec commented on #310
As far as I understand there is no such method. Could you check the setTerrain function here: https://github.com/openglobus/openglobus/blob/680cd76b89b9f6f8483ad3b169a722fce0b286f1/src/og/scene/Planet.js#L557
does it suit you?

...and maybe somehow extract part of the code in a method? If not, could you please be more specific what you want to do?

P.S.
It'is based on http://openglobus.org/example

[2021-04-30 05:52] FreeGIS opened #311 "How to create webgl custome layer?"
As everyone knows,mapboxgl,cesium and arcgis api both support webgl custom layers,can you tell me how to create custome layer with openglobus?

[2021-04-30 08:55] Zemledelec commented on #311
There are three ways:

1) There is an example http://openglobus.org/examples/geoTexture2d/geoTexture2d.html. It demonstrates how to show webgl framebufer in the surface.

2) Here is http://openglobus.org/examples/canvasTiles/canvasTiles.html which shows how to use Mercator Grid for custom images

3) API allows redraw each tile based on the tile image with some palette for instance, but there is no

[2021-05-05 07:46] wizzed commented on #310
I would like to clear all references and clear all memory usage, some sort of globe.clearAll(), or globe.delete()  which clears everything and free up the memory.

[2021-05-05 12:08] Zemledelec commented on #310
Also, do you want to stop animation, handlers etc. and remove webgl context completely?

[2021-05-05 12:28] wizzed commented on #310
Yes, everything, I'm using reactjs and it kinda eats up memory everytime I navigate back and from the map page. So I'm kinda looking for a way to clean up the map efficiently...

Unless I'm using it wrongly?

[2021-05-05 17:02] Zemledelec commented on #310
Ok! Got it! Need time.

P.S.
Think it's not easy. Can't relay on the gc only.

[2021-05-06 09:55] wewindy commented on #311
Hope can support custom webgl layer like mapbox gl's.

[2021-05-06 11:52] Zemledelec commented on #311
Doesn't the examples above looks like custom webgl layers?

[2021-05-08 11:43] wewindy commented on #311
The examples above are pretty nice!
Thanks for your contribution. @Zemledelec

mapboxgl support a custom layer api that provides two simple params, when on layer add to `map`, `gl` & `mapbox map` params can get in the callback function. And for every frame, the mvp matrix and `gl` can get in the `render` callback function.
So we can use this params to create some funny layer.

`OpenGlobus` is more

[2021-05-08 16:18] Zemledelec commented on #311
Thank you! Good point!

I have an experience in leaflet, and openlayers, and try to support something similar in openglobus. Also make native webgl context as much accessible as possible, so it is very handy.

As far as I understand you want a convenient way to render map tiles.  **In terms of supporting custom layers, could you you be more specific what you want to see? An example or pseudocode c

[2021-05-08 19:34] wewindy commented on #311
Yeah, I am very interested in this library, and wrote a blog with my native language in my spare time, and will take the time to study in depth.

I have some dev experience with OpenLayers & Cesium.js. OpenLayers use webgl tech to improve massive points showing performance well, and Cesium.js use `Primitive API` to create more 3d object with custom shader and render pipeline. (Well, Cesium's API i

[2021-05-10 20:22] fridl8 opened #314 "Entities 'lclick' not always working"
We've set up a pretty basic globe with some entities as pins on it.  As a test to make sure I got it working correctly I set up a JS array to loop through and add 4 pins to the globe.

[code]

That's the code I'm currently using to add the 4 entities to the globe with a marker so they're clickable.  Only problem is that when we turn the globe far enough from where it initially loads the pins are n

[2021-05-10 20:55] Zemledelec commented on #314
Try nodeCapacity:100000000 or something big. If it doesnt work, please give me real example and Ill check it up.

[2021-05-10 21:07] Zemledelec commented on #314
...also try Vector layer property clampToGround: true.

[2021-05-10 21:52] fridl8 commented on #314
Added clamToGround and changed nodeCapacity to a larger number, but it didn't seem to have any noticeable effect.  I updated the code in the first post to show the globe setup, an example of the data, and the loop that I'm using.

Something I forgot to mention in the first post as well is that I'm using this in Ember, wasn't sure if that would create any issues with the globe or not.

[2021-05-11 09:25] Zemledelec commented on #314
I've made your example here http://openglobus.org/tests/lclick/lclick.html, and it works fine.

https://user-images.githubusercontent.com/5452251/117791145-af1e6800-b252-11eb-987a-d7c3d7b31a7a.mp4

Could you show picking buffer in the moment when you can not click on the marker. Once you face with lclick issue enter a command in the console: **globe.renderer.setCurrentScreen("picking")** _(to retu

[2021-05-11 14:17] fridl8 commented on #314
We've tested it with Safari, Chrome, and Firefox on multiple computers and still have the issue.  Here's a picture of the picking buffer at the time when lclick isn't working.
![picking](https://user-images.githubusercontent.com/27429508/117830740-8a69c680-b239-11eb-8a10-2f028040ed2a.png)

None of the pins are clickable in that picture.  Turning the globe back to the right a little bit will make t

[2021-05-11 14:23] Zemledelec commented on #314
Very strange. Looks like it should work. Did you tested with my example? If not may be something with your css...

[2021-05-11 14:31] Zemledelec commented on #314
...can I have a look at the real project?

[2021-05-11 14:35] fridl8 commented on #314
I played around with yours and it was working fine for me as well.  I think I'm going to continue to dig into our Ember and CSS to see if I can find out what is causing the issue.  I was hoping it was an issue with how I was adding the layers/entities because I haven't had much luck fixing it otherwise.
The project is behind a VPN and any local reproductions I can do are only accessible on the hos

[2021-05-11 14:39] #314 closed, assigned to Zemledelec

[2021-05-11 15:06] Zemledelec commented on #314
I suppose css somehow influences to mouse position inside your dom. It could be fixed inside openglobus api. Feel free to look into https://github.com/openglobus/openglobus/blob/71785cc7970759696b107db41ca3537a124ca801/src/og/input/MouseHandler.js#L59 and check the coordinates inside your container. Also here you can get picking color and compare with picking buffer https://github.com/openglobus/o

[2021-05-11 16:46] #284 closed, assigned to Zemledelec

[2021-05-12 07:15] wizzed opened #316 "Unable to npm build for latest version"
I've gotten this error message while trying to build.

ModuleNotFoundError: Module not found: Error: Can't resolve '../res/night.js' in 'node_modules/@openglobus/og/src/og/scene'

I've used the package from npmjs.org to build, not sure if that's okay.

[2021-05-12 08:56] pavletto commented on #300
[Example](https://github.com/openglobus/openglobus/tree/master/examples/npm)

[2021-05-12 08:56] #300 closed, assigned to pavletto

[2021-05-12 09:04] pavletto commented on #316
Yes, I'm sorry about that. We only recently created an npm package and in an attempt to reduce the package weight, i accidentally added res to the exceptions. Now I fixed that - please check in version `0.8.9`.

[2021-05-12 09:07] pavletto commented on #283
@Flemingjp we create [@openglobus/og](https://www.npmjs.com/package/@openglobus/og) npm package - you can try using it and import  openglobus like npm dependency!

[2021-05-13 00:17] fridl8 commented on #314
Just wanted to throw in a quick update, but the problem ended up being fixed by adding `myPopup.setCartesian3v(e.pickingObject.getCartesian());`.
I'm not too sure why I ended up excluding it from the original popup creating even though it's part of the example on the site and the example you showed me.

[2021-05-15 10:50] #261 closed, assigned to nobody

[2021-05-15 12:04] Zemledelec opened #322 "Optimize the heights "equalization" of adjacent tiles"

[2021-05-18 09:36] #283 closed, assigned to nobody

[2021-05-19 08:42] Zemledelec opened #324 "Get rid of version number in the library name after og?"
I'd like to change og-0.8.10-umd(esm).js with og.umd(esm).js? What do you think?

FYI @onsummer @pavletto

[2021-05-19 08:46] wewindy commented on #324
no problem :)

[2021-05-19 08:46] pavletto commented on #324
I like this idea

[2021-06-08 14:21] wewindy commented on #324
Done in #325 , looks pretty

[2021-06-10 09:44] #324 closed, assigned to wewindy

[2021-06-10 09:46] Zemledelec opened #326 "Improve normal map texture tesselation"

[2021-06-17 03:52] wewindy opened #328 "Can this support type check with typescript and rewrite all Class into es6 mode?"
# Type check with typescript

When I use npm package, I found it is no code intelligence like other libs.

We can only use typescript to generate the `d.ts` declaration file from the existing jsDoc comments, instead of rewriting all the js files into ts files. In this way, you can get a better development experience, that is, the code intelligence hints.

# Rewrite class mode from constructor func

[2021-06-17 03:54] wewindy commented on #328
FYI @Zemledelec @pavletto

[2021-06-17 13:20] pavletto commented on #328
I think `d.ts` is a good idea.

[2021-06-27 10:47] Zemledelec commented on #328
The first reason I left **.prototype.** is that I'm not sure that classes works faster in js. Modules (or classes) such as Vec3, Quat, LonLat, Extent, Segment etc. are critical for engine (especially for contructing). So, before making a decision we must be sure that this or those approach doesn't make any negative affect on the **performance** of the engine.

The first step to make the decision i

[2021-06-27 10:52] Zemledelec commented on #316
Suppose it's done?

[2021-06-27 10:52] #316 closed, assigned to nobody

[2021-07-20 09:03] Zemledelec opened #340 "Support for Cesium 3DTiles"

[2021-07-20 09:10] Zemledelec opened #341 "Add simple 3d models (aka GeoObject) instancing handler"

[2021-07-27 08:23] Zemledelec opened #345 "Fix high resolution terrain gaps"

[2021-07-27 08:25] #345 closed, assigned to Zemledelec

[2021-08-07 08:33] #254 closed, assigned to Zemledelec

[2021-08-11 12:43] yeluoyunfei opened #348 "The globe is partially show up, but it show full globe if rotate or drag"
The globe is partially show up, but it show full globe after rotate or drag, is this a bug?
![image](https://user-images.githubusercontent.com/8508499/129030448-70065a8b-5200-460b-9210-72a7dc36d113.png)

[2021-08-11 13:14] pavletto commented on #348
Hi, @yeluoyunfei  What device and browser are you use? This is globe from example in repo?

[2021-08-11 14:23] yeluoyunfei commented on #348
Hi, @pavletto  , I am using edge desktop in windows 10 . this is using the attribution example.

[2021-08-11 14:32] yeluoyunfei commented on #348
@Zemledelec, This can easily repro.

[2021-08-11 14:34] Zemledelec commented on #348
I can't catch the bug:(
@yeluoyunfei  do you have the issue with other examples?

[2021-08-11 14:40] Zemledelec commented on #348
Could you send a reports from here https://webglreport.com/?v=2?

[2021-08-11 14:40] pavletto commented on #348
Maybe there are some errors in your console?

[2021-08-11 14:52] yeluoyunfei commented on #348
tried other example, look fine. but not sure about the reason for this example. below is the recorder:
https://www.awesomescreenshot.com/video/4808624?key=9094a527b0001a109b111bc6c9e839c3
for the report:
![image](https://user-images.githubusercontent.com/8508499/129051854-eb56c046-52b3-433b-b3f2-aa3292f2e132.png)

[2021-08-11 15:09] yeluoyunfei opened #349 "Empty globe and fill custom style?"
Can I create an empty globe and fill my own style(e.g fill with different color)? I tried create an empty globe, but there always some shadom behind it:
![image](https://user-images.githubusercontent.com/8508499/129054815-4fefd228-f0be-43d4-b460-863e93c481b7.png)

[2021-08-11 15:13] Zemledelec commented on #348
Webgl looks fine, thanks! Hmmm, we will try to reproduce the bug, but I have no any idea...

The shadows you see is a specular and night cities map, and there is an option for it to disable, Ill check it up, and let you know.

What kind of own things you would like to fill the globe, I could give some advise or example explanation.

Cheers!

[2021-08-11 15:21] yeluoyunfei commented on #348
Thanks @Zemledelec ! I have disabled the sun. not sure why the specular and night cities map will be load by default. It is great that it is an option that we can disable/enable it.  I didn't find this option yet. at the first stage, I want to use my own base map and the borders can be clearly seen, like below(I can tune the background color to any color I like to increase the contrast), in future

[2021-08-13 09:02] Zemledelec commented on #349
Hey! I've added two options(bool) in the Globe constructor useNightTexture, and useSpecularTexture. By default options both are true. Check it out!

P.S.
in the master branch

[2021-08-13 09:09] Zemledelec commented on #348
@yeluoyunfei
1) I'd recommend to use http://openglobus.org/examples/lighting/lighting.html control for image layers
2) Are you going to use imagery tiles(XYZ, WMS) layers?

[2021-08-13 09:15] yeluoyunfei commented on #349
Thanks @Zemledelec ! Great. it works!
I was also adding it, but look like I am unable to send a pull request, Can you grant me the access?  I mean not for this time, if there are other issues  can I update it directly and send the pr in future?
![image](https://user-images.githubusercontent.com/8508499/129334705-e7b0c61d-5329-4e07-81c2-f783cb253ece.png)

[2021-08-13 09:34] Zemledelec commented on #348
Check last master out, please, hope it fixes the bug.

[2021-08-13 13:10] yeluoyunfei commented on #348
@Zemledelec . Thanks!
For #1, this looks great. Will try this.
For #2, Yes. Some of our data is  tile image data(Mercator projection). will  likely use XYZ, WMS layers. but I am not sure about the difference for XYZ, WMS. I disabled WMS in attribution example. the experience looks very similar. Can you help share some insight?

[2021-08-13 13:10] #349 closed, assigned to yeluoyunfei

[2021-08-14 10:31] Zemledelec commented on #348
In terms of rendering in the globe XYZ and WMS are the same, but the difference in the requests, which means that the layers are stored differently on server. In more cases XYZ data is prerendered images(tiles cache) 256x256 pixels, and WMS data is a service(last S), you could get any map images you like (image size, projection, and even styles on the fly etc.). For better understanding just take

[2021-08-14 16:41] Zemledelec commented on #349
As far as I know, you could do PR to openglobus from your fork. Try make a fork and then PR https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2021-08-17 01:49] yeluoyunfei opened #350 "Option to set zoom in/zoom out limitation & option to set rotate range(E.g. rotate 45° at max when rotate up and down)"
The default option can be current behavior(with no limitation). but user can custom it's own behavior as in some cases:

1. we can hardly see anything when globe is too small.
2. user might get lost when rotate up and down/ left and right freely.

DoD:

- [x]  add option for maximal and minimal camera altitude (above ellipsoid or terrain?)
- [x]  add options for camera angles above planet surface

[2021-08-17 09:56] yeluoyunfei opened #351 "Not all canvas tiles are not get redraw when zoom in/out"
from below picture, we can see tile(15,6,4) and (0,6,4) are not get re-draw:
![image](https://user-images.githubusercontent.com/8508499/129705164-8406d62d-5351-496c-b5b7-323dd9246b96.png)

[2021-08-18 13:40] Zemledelec commented on #351
Maybe they shouldn't be redrawn?

Try ToggleWireframe control
`        globe.planet.addControl(new ToggleWireframe()); // from control/ToggleWireframe.js` and then press X key

And check that the segments(not tiles) are really deeper than they are. You will see "the division".

[2021-08-18 13:44] Zemledelec commented on #351
However, if you wanted to see the same zoom tiles according to maximal camera altitude, so I could add an option.

This is ok, this is how level of detail works:
![image](https://user-images.githubusercontent.com/5452251/129908999-b548746d-5f35-4fd2-986c-80893e2ce1ab.png)

[2021-08-18 13:44] Zemledelec commented on #351
This is also ok:
![image](https://user-images.githubusercontent.com/5452251/129909350-8c5d5074-424f-4ff8-8991-cb590abfdca2.png)

[2021-08-18 13:51] Zemledelec commented on #348
@yeluoyunfei, the bug solved? Could you check it up(master branch), please?

[2021-08-20 10:38] yeluoyunfei commented on #351
That's make sense. thanks!

[2021-08-20 10:38] #351 closed, assigned to yeluoyunfei

[2021-08-20 14:32] yeluoyunfei commented on #350
@Zemledelec  Can you share plan for this feature?

[2021-08-25 03:19] yeluoyunfei opened #353 "Support custom globe view setting when switch from other layer?"
For some scenario, it is likely that user switching to 3D map layer from other layer( 2D map layer or 3D map)  in the previous layer, user has  specified the location, when switch to 3D layer, we expect that view is  also zooming to the specific  location(zoom level can be controlled ).  similar like below snapshot.
![image](https://user-images.githubusercontent.com/8508499/130719863-212e5498-8f48

[2021-08-25 12:58] yeluoyunfei opened #354 "Create example on how to render pole according to its tile bounds(CanvasTiles)"

[2021-08-25 13:46] yeluoyunfei commented on #348
Yes. this is resolved now.

[2021-08-25 13:46] #348 closed, assigned to Zemledelec

[2021-08-25 19:52] Zemledelec commented on #353
Sorry, I don't get it, could you describe a case by steps, please.

[2021-08-28 14:44] yeluoyunfei opened #355 "Option to make the globe visible to user after all the canvas in the whole globe(except pole?) is ready and expose a way to let the developer know when rendering is complete"
currently when user rotate, there is visible experience gap before newly rotated view ready. need an option to make the globe visible to user after all the canvas in the whole globe is ready. then it will have smooth user experience when rotate. also need expose a way to let the developer know when rendering is complete so that they can do some other job.

[2021-08-31 22:01] Zemledelec commented on #355
I'm not sure that it is possible 100% especially making the globe visible to user after all the canvas in the whole globe is ready, but:

1. I can implement something like "rendercomplete" event, when every segment on the screen is completed, and nothing is loading.
2. I can add option that makes whole globe rendered when you see whole globe sphere from far space, it will helps to avoid empty tile

[2021-09-03 13:50] Zemledelec opened #359 "Add points to kml"
There are two point types raster and vector billboard. There is a question what kind of points we need to display, and what does it depends on?

FYI @tbo47 @pavletto

[2021-09-08 01:34] tbo47 commented on #359
I gave it a try with billboard https://github.com/openglobus/openglobus/pull/360

[2021-09-12 17:44] tbo47 commented on #359
Ready for review https://github.com/openglobus/openglobus/pull/360

[2021-09-12 22:39] gnuletik opened #362 "Missing CSS entry in package.json exports"
When importing the CSS file with a JS bundler like this :
[code]

It throws an error with Vite :
[code]
And with Snowpack :
[code]

The package.json's exports configuration should include this line:
[code]

but it does not :
https://github.com/openglobus/openglobus/blob/942483f68ca0409584023e6213e0e6df7bcf307f/package.json#L31-L40

[2021-09-14 05:51] yeluoyunfei opened #363 "Trigger canvas tile re-draw for current view angle"
users might need see canvas tile from multiple hours.  need the ability to clean and redraw canvas tile. similar like this:
https://www.awesomescreenshot.com/video/5216041?key=87c60eb3989dcba63ee138b5507ef4e2

[2021-09-14 05:54] yeluoyunfei opened #364 "Black line appear from some view angle and then disappear"
snapshot:
![image](https://user-images.githubusercontent.com/8508499/133202560-457b0ee4-f586-4fe1-86f9-27d56e9caaa4.png)

[2021-09-14 11:16] Zemledelec commented on #362
Thanks! Added in v0.10.4!

Verifiez, sil vouz plait!

P.S.
It looks like you could be a contributor @gnuletik !))

[2021-09-14 14:44] gnuletik commented on #362
Thanks!
It works great :)

[2021-09-14 14:44] #362 closed, assigned to gnuletik

[2021-09-15 06:17] yeluoyunfei opened #365 "black line in north/south pole area"
snapshot:
![image](https://user-images.githubusercontent.com/8508499/133380597-257b0875-61a0-4033-b138-73900662ed92.png)

[2021-09-16 08:22] yeluoyunfei opened #367 "Globe edge bounce"
see snapshot. the edge will bounce will rotate:
![image](https://user-images.githubusercontent.com/8508499/133576900-33c4a05a-d00a-4b34-b2be-60982b58ad95.png)
![image](https://user-images.githubusercontent.com/8508499/133577353-c0d11949-ad2b-4c23-8054-6997def37d09.png)

[2021-09-17 18:38] tbo47 opened #370 "@types/openglobus__og"
I'm trying to generate the types from annotations to use openglobus in typescript projects.
[code]
But there are errors around object which are not a class (Extent.js for example)
A solution would be to refactor them to be classes.
Thoughts?

[2021-09-20 16:00] Zemledelec commented on #353
@yeluoyunfei  need more details, please.
viewExtent, flyLonLat?

[2021-09-20 17:18] tbo47 commented on #370
The refactor can be like this https://github.com/openglobus/openglobus/pull/372

[2021-09-20 19:40] Zemledelec commented on #350
Added Globe constructor options:
`minAltittude`
`maxAltitude`
`minSlope`

[2021-09-20 19:41] #350 closed, assigned to Zemledelec

[2021-09-20 19:50] Zemledelec commented on #367
Please check up the last master!

[2021-09-20 19:52] Zemledelec commented on #355
Hey @yeluoyunfei rendercomplete is enough?

[2021-09-20 19:53] #354 closed, assigned to Zemledelec

[2021-09-20 19:56] Zemledelec opened #374 "Converting zoom level to altitude value and vice versa"
https://stackoverflow.com/questions/36544209/converting-altitude-to-z-level-and-vice-versa

[2021-09-22 07:42] Zemledelec opened #375 "Refactor prototypes with classes"
FYI @tbo47 @pavletto

[2021-09-22 08:34] Zemledelec opened #376 "Fix label outline"

[2021-09-22 10:24] yeluoyunfei commented on #353
Yes. I found a way for this. close it

[2021-09-22 10:24] #353 closed, assigned to Zemledelec, yeluoyunfei

[2021-09-22 14:31] yeluoyunfei commented on #355
Yes. I think it's ok for currently

[2021-09-22 14:31] #355 closed, assigned to yeluoyunfei

[2021-09-25 22:59] Zemledelec commented on #365
In master! Check it please!

[2021-09-25 22:59] Zemledelec commented on #364
fixed.

[2021-09-25 22:59] #364 closed, assigned to Zemledelec

[2021-09-25 23:01] Zemledelec commented on #328
Replaced with https://github.com/openglobus/openglobus/issues/375

[2021-09-25 23:01] #328 closed, assigned to wewindy

[2021-09-26 08:46] #365 closed, assigned to Zemledelec, yeluoyunfei

[2021-09-28 13:48] #375 closed, assigned to tbo47

[2021-09-28 13:48] #370 closed, assigned to tbo47

[2021-09-28 13:49] #359 closed, assigned to tbo47

[2021-09-29 00:56] tbo47 opened #381 "@types/openglobus__og"
just FYI https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56045
work in progress
feedback wellcome :)

[2021-09-29 10:43] yeluoyunfei opened #382 "black line in pole area for canvas tile"
there are visible black line in pole area.
some times half circle:
![blacklineinpole_halfcircle](https://user-images.githubusercontent.com/8508499/135253682-3b721d11-e589-4784-ae9a-8878e06a5fe8.gif)
some times full circle:
![blacklineinpole_fullcircle](https://user-images.githubusercontent.com/8508499/135253731-19dc36d8-da44-4525-b6d2-5b426b3e1b37.gif)

[2021-09-30 14:04] #367 closed, assigned to yeluoyunfei

[2021-09-30 16:17] #381 closed, assigned to nobody

[2021-10-05 01:36] yeluoyunfei opened #385 "Render delay when switch new layer"

[2021-10-05 01:38] yeluoyunfei opened #386 "Add rotate limitation option when rotate up and down to keep north oriented experience"

[2021-10-08 17:54] #382 closed, assigned to Zemledelec

[2021-10-09 09:59] yeluoyunfei opened #397 "Render delay in pole area"
There is visible delay when rotate to pole area.

[2021-10-09 13:53] tbo47 commented on #104
The video is not available. Can we close this @Zemledelec ?

[2021-10-16 15:15] Zemledelec commented on #397
Ok, little explanation, that there is no bug, it is normal behavior. I'm going to make pole areas getting always rendered when traversing pole tree. It could help to diminish delay effect.

[2021-10-16 16:36] Zemledelec commented on #397
@yeluoyunfei,  check this up, please! Already in master.

[2021-10-22 08:48] yeluoyunfei opened #419 "support zoom in/out using multi-finger on touch pane"

[2021-11-03 11:56] alacst opened #426 "remove callback from renderer event"
Hey,

is it possible to remove a callback from the renderer events?
I'd like to create a "lclick" event and remove it once its fired.

`globus.planet.renderer.events.on("lclick", (e) => {
                   foo(e);
                });`
I'd also like to remove this foo() from the events only.
Is there any way to do this?

Thank you!

[2021-11-03 15:14] Zemledelec commented on #426
Hi @alacst!
You should do like this:
[code]
Also, third parameter of on function is a sender, for instance:
[code]

[2021-11-04 10:54] alacst commented on #426
hey @Zemledelec,

I could not test it yet, but I've checked the code for the event.off part:

`

     /**
     * TODO: DOESNT WORK!!!
     * @param {any} name
     * @param {any} callback
     */
    off(name, callback) {
        if (name === "keypress" || name === "charkeypress" || name === "keyfree") {
            this._keyboardHandler.removeEvent(name, callback);
        } else {
            su

[2021-11-04 11:35] alacst commented on #426
it seems to be working.

[2021-11-05 19:50] Zemledelec commented on #426
@alacst close?

[2021-11-05 19:50] Zemledelec commented on #397
@yeluoyunfei close?

[2021-11-05 19:52] #311 closed, assigned to nobody

[2021-11-05 19:53] #275 closed, assigned to nobody

[2021-11-05 19:53] #255 closed, assigned to nobody

[2021-11-05 19:53] #264 closed, assigned to Zemledelec

[2021-11-05 19:54] #199 closed, assigned to nobody

[2021-11-05 19:54] #153 closed, assigned to nobody

[2021-11-05 19:56] Zemledelec commented on #102
added planet rendercompleted event and layer loadend event.

Create separate layer rendercompleted will provide in future issues.

[2021-11-05 19:56] #102 closed, assigned to Zemledelec

[2021-11-05 19:57] #40 closed, assigned to Zemledelec

[2021-11-05 19:57] #17 closed, assigned to nobody

[2021-11-05 19:57] #18 closed, assigned to nobody

[2021-11-05 19:58] #152 closed, assigned to nobody

[2021-11-06 09:35] yeluoyunfei opened #427 "Make label laying on the globe"
Similar effect like this,
![image](https://user-images.githubusercontent.com/8508499/140605090-3ca639f6-b71b-4718-8c8e-f44feed8cbac.png)

Further more, support click on label?

[2021-11-06 09:40] #397 closed, assigned to yeluoyunfei

[2021-11-06 09:41] yeluoyunfei commented on #397
Yes.

[2021-11-07 12:20] alacst commented on #426
thank you!

[2021-11-07 12:20] #426 closed, assigned to alacst

[2021-11-15 11:48] yeluoyunfei opened #429 "Perf improvement for label creation"

[2021-11-20 11:58] #385 closed, assigned to nobody

[2021-11-20 11:59] #270 closed, assigned to nobody

[2021-11-20 11:59] #245 closed, assigned to Zemledelec

[2021-11-20 12:01] Zemledelec commented on #429
wrapping label buffer creation into a worker.

[2021-11-25 17:42] #429 closed, assigned to Zemledelec

[2021-11-25 21:57] Zemledelec opened #432 "Fix multiple overlay blending"

[2021-11-30 12:41] Zemledelec commented on #432
Closes via https://github.com/openglobus/openglobus/pull/434/

[2021-11-30 12:41] #432 closed, assigned to Zemledelec

[2021-12-01 00:42] Zemledelec opened #438 "Make lighting parameters for whole planet"
Remove each layer lighting parameters for the whole planet. It will helps to increase drawnode performance.

[2021-12-01 08:17] yeluoyunfei commented on #385
when change to a newly added everything is lagging  even I make the globe visible after render complete/loaded.
One workaround is  to replacing add/remove logic with set opacity and load all layers when initialize the globe, it works when there are only few layers, but when layer number increase, this is not scalable.

[2021-12-01 11:45] yeluoyunfei opened #439 "Improve visual delay when switch new layer with preloading"
when change to a newly added everything is lagging(there are visible empty tiles when rotate globe) even I make the globe visible after render complete/loaded.
One workaround is to pre-load all layers when initialize the globe, using set opacity when switch layer , it works when there are only few layers, but when layer number increase, this is not scalable to pre-load all layers.

[2021-12-02 08:55] jhjojhjo opened #440 "Make constrained extent in Globe"
Thanks for your nice works.

I am applying only some areas of the terrain data, and they are converted into ddm files.
However, when they are expressed in the globusTerrain, it looks like the picture.

how to flatten the edge ?

Is it possible to view(or constrain)  only the specific extent in globe.
how can I  view terrain in extent area only ?
is there the example
![test](https://user-images.git

[2021-12-04 11:00] Zemledelec commented on #440
Hi @jhjojhjo! I'd like to propose you do not use ddm (I'm thinking to make it deprecated) now, and use ratsers the same way as mapbox do with rasterio. Unfortunately I have not made a good tutorial (in progress) yet, but take a look on MapboxTerrain provider here http://openglobus.org/examples/mapboxTerrain/mapboxTerrain.html and the good tutorial from here https://github.com/syncpoint/terrain-rgb

[2021-12-04 11:02] Zemledelec commented on #438
Closes via #443

[2021-12-04 11:02] #438 closed, assigned to Zemledelec

[2021-12-08 05:05] jhjojhjo opened #446 "add/remove geoObject"
Thanks for this fine works.

I am working on adding a geoObject.
That is planning to left-click to add, right-click to remove.
When the attached  JavaScript is first executed, addition and removal are executed well.
However, after adding a few geoObjects, removing all of them, and adding a geoObject again, the geoObject cannot be rendered on screen.
It is strange.

The codes is attached!
[a.zip](h

[2021-12-08 08:54] jhjojhjo commented on #440
Thanks.
good advice to me.

I need to think view extent, in case of having partially  terrain.
can you support it ?

[2021-12-08 11:20] Zemledelec commented on #440
@jhjojhjo
Could you be more specific, please?
What terrain source files do you use?
As far as I understand you need to display terrain data, so:

There are two ways:
1) Create rasterio elevation tiles from geoTiff, and you will see the whole geotiff you want. You can edit your geotiff with qgis and get any bounds you want.
2) I could add an option for bounds to terrain provider and you will get vi

[2021-12-08 19:07] Zemledelec commented on #446
Created branch:
https://github.com/openglobus/openglobus/issues/446

FYI @pavletto

[2021-12-08 23:01] pavletto commented on #446
@jhjojhjo thanks for report! Fix it. @Zemledelec create PR #447

[2021-12-09 01:26] jhjojhjo commented on #446
Thanks for reply.
How rapid it is!

[2021-12-09 05:11] jhjojhjo commented on #440
Thanks.
I will try your recommendation.

Here is question on Extent.
The GlobusTerrain doesn't seem to support extent option.
Although the terrain was limited to [ 125.0, 33.0, 130.0, 40.0 ], the other areas out of the area seems to be displayed out as well.
In my opinion, terrain data outside the extent should not be imported by network.
I give the attachment.
Is my test  wrong?
[test.zip](https:

[2021-12-09 07:03] yeluoyunfei opened #448 "Label support all Unicode?"
Looks like label only support latin character(ABCabc...) now, which make it harder to build apps for different language. Support for all Unicode?

[2021-12-09 09:51] pavletto commented on #448
If I understand correctly, it depends on the font you are using. You can generate font atlas using `msdf-bmfont` package from ttf font.
[code]

Connect your font with help next api call:
[code]

@Zemledelec, please, add if i missed something. Where is `npm run font` command from `package.json`?

[2021-12-09 10:30] Zemledelec commented on #440
True, og terrain provider doesnt support extent option.
Ok, you want the extent option, right? :)
It's possible, but need time. Right now you can use geotif as is like here on the right screen:

http://openglobus.org/examples/multipleViewports/multipleViewports3.html

[2021-12-09 11:13] Zemledelec commented on #446
@jhjojhjo could you test from here?
PR https://github.com/openglobus/openglobus/pull/447

[2021-12-09 11:25] Zemledelec commented on #448
There is a post I ve made https://levelup.gitconnected.com/msdf-font-rendering-in-webgl-91ce192d2bec. Here you can find how to make unicode glyphs. But be sure that there is only one atlas image, because globus supports only one atlas image now.

As @pavletto said: Here is a` charset.txt`, try to add a few unicode letters here. Also you can enlarge atlas image size to 1024 or more.
`msdf-bmfont.cm

[2021-12-10 01:43] jhjojhjo commented on #440
I think the loading speed of mapbox-rgb is lower than ddm.
I am novice on geo-conversion.
My terrain source is ESPG 5186.

[2021-12-10 04:21] jhjojhjo opened #449 "option extent type in layer XYZ"
I found a minor bug.
The extent option in layer/XYZ was tested as follow.
extent: [A,B,C,D] ----> not ok
extent: [[A,B],[C,D]] -----> ok

The extent option in others(Globe, terrain..) was ok in all of two types.

[2021-12-12 09:49] #446 closed, assigned to Zemledelec, pavletto

[2021-12-12 09:54] Zemledelec opened #450 "Improve segments number collecting from space view"

[2021-12-12 10:09] Zemledelec commented on #440
ddm size 33x33x4 bytes, rasterio elevation tiles(png) 256x256x4 bytes. But, rasterio tiles is convenient and looks nice. There are good tools to work with geotif sources such as gdal, rasterio, gdal2tiles etc.

Also, you can easily convert any proj to EPSG:3857 (suitable for openglobus terrain provider) with gdal.

ddm is lack of the features you can have already with rasterio tiles, such as we ca

[2021-12-14 07:42] jhjojhjo commented on #440
I had converted my terrain to Mapbox-rgb tiles.
256x256 terrain tiles are so slow.
The mapbox-rgb 64x64x4 PNG  tiles made by gdal2tiles are maybe not supported in MapBoxTerrain.js .
Is it right ?

[2021-12-14 08:54] Zemledelec commented on #440
1) Try MapboxTerrain provider constructor options
[code]
2) What do you mean slow? Slow for rendering or slow for loading?

[2021-12-14 09:17] jhjojhjo commented on #440
that's means 'rendering time'.
I think ddm is better than MB.

[2021-12-14 11:04] Zemledelec commented on #440
So, if you have problem with rendering time(frame per second), I'd suggest you change  gridSizeByZoom for terrain constructor, and see the difference. You should use power of two values in the array.

ddm is better that png in one, that ddm is 33x33 grid and heights on a border of every tile are equal. It means that you do not need to equalize elevations of two neighbour nodes for the ddm terrain

[2021-12-14 11:07] Zemledelec commented on #440
My dream is to improve gdal2tiles.py to handle png the same way as ddm do:)

[2021-12-14 11:33] jhjojhjo commented on #440
thanks for your kindness.
what does mean option gridSizeByZoom ?
i don't understand it.

i hope to come true your dream.

[2021-12-15 16:35] Zemledelec commented on #448
@yeluoyunfei Close?

[2021-12-15 16:41] Zemledelec commented on #440
Thanks!)) gridSizeByZoom is an array with elevation grid sizes. Each index matches to tile zoom level, each value - is size of grid with elevation data. In other words - gridSizeByZoom is array of levels of details. Each size must be a power of two number such as 2,4,8,16 etc. The bigger value the less performance, but more detailed, also the value mast be less or equall than imageSize value,

[2021-12-16 09:20] pavletto commented on #341
@Zemledelec i'm close this task?

[2021-12-16 12:09] yeluoyunfei commented on #448
@Zemledelec . Thanks for remind, I have not got a chance to check it yet. will check it soon

[2021-12-16 13:43] #448 closed, assigned to yeluoyunfei

[2021-12-20 12:07] #341 closed, assigned to pavletto

[2021-12-20 12:09] Zemledelec opened #453 "Replace Loader with WebWorker (or ServiceWorker)"

[2021-12-20 12:11] Zemledelec commented on #450
FYI @yeluoyunfei

[2021-12-21 10:01] jhjojhjo opened #454 "make ddm model"
hi.
i will make ddm from geotiff.
1. 1st step
     convert geotiff(epsg4326) to hgt using gdal4hgt.
2. 2nd step
     convert hgt to ddm using openglobus-ddm.

what is  coordination of hgt ?
what is  coordination of ddm ?
does I need the conversion of coordination, EPSG4326->EPSG3857 ?

[2021-12-23 13:30] Zemledelec opened #455 "Fix geoObject visibility method"
1) Remove _visibility in geoObject add method, event non visible geoobjects get into handler
2) Add shader uniform visibility flag and use with opacity or discard cases inside geooject shader

[2022-01-03 05:35] jhjojhjo opened #456 "how to add heatmap to og"
Hi. Happy new years.
I tried to plug open sourced webgl-heatmap in og.
But I could not add the heatmap to layer, like tile image layer on specific area.
It seems that the input data of the heatmap should be Lon/Lat coordinate data rather than pixel data.

Can you help to convert pixel to Lon/Lat, add the heatmap in layer style ?
[test-heatmap.zip](https://github.com/openglobus/openglobus/files/780

[2022-01-03 20:59] Zemledelec commented on #450
PR https://github.com/openglobus/openglobus/pull/457

[2022-01-03 21:07] Zemledelec commented on #456
Happy New Year, @jhjojhjo!

First, you should understand how CanvasTiles works. Here is an example http://openglobus.org/examples/canvasTiles/canvasTiles.html

Second, you have to draw pixels inside your html5 tiles, where each tile has web mercator projection extent. Try to debug CanvasTiles draw handler.

[2022-01-03 21:09] Zemledelec commented on #454
...thinking

[2022-01-04 11:24] Zemledelec commented on #450
Done!

[2022-01-04 11:24] #450 closed, assigned to Zemledelec

[2022-01-04 11:25] Zemledelec commented on #449
I think it should be both available signatures.

[2022-01-04 11:26] Zemledelec opened #458 "Fix WebGL 1 compatibility"

[2022-01-04 11:30] Zemledelec opened #459 "Think a way how to apply imagery tiles on the segments only when all tiles are loaded"

[2022-01-04 14:11] yeluoyunfei commented on #459
This will make the load/render sequential, will this slow down the render process especially some tiles is slow in network?

[2022-01-04 14:18] yeluoyunfei commented on #459
Btw, what's the benefit to do so compare to current behavior

[2022-01-06 06:13] yeluoyunfei commented on #456
Hey. @jhjojhjo , Globus is doing great support heatmap. this is an production example using globus: https://www.msn.com/en-us/weather/maps/temperature/in-Coulee-136,SK?zoom=3&3d=1&loc=eyJsIjoiQ291bGVlIDEzNiIsInIiOiJTSyIsInIyIjoiRGl2aXNpb24gNyIsImMiOiJDYW5hZGEiLCJpIjoiQ0EiLCJnIjoiZW4tdXMiLCJ4IjoiLTEwNy40ODEiLCJ5IjoiNTAuMDcifQ%3D%3D&ski=1

[2022-01-06 07:02] jhjojhjo commented on #459
I think it will be useful in heatmap.

[2022-01-06 07:04] jhjojhjo commented on #456
wow! nice job.
How did globus  implement that?

I don't think it's a heatmap?

[2022-01-07 19:37] Zemledelec commented on #456
The answer is here:

First, you should understand how CanvasTiles works. Here is an example http://openglobus.org/examples/canvasTiles/canvasTiles.html

Second, you have to draw pixels inside your html5 tiles, where each tile has web mercator projection extent. Try to debug CanvasTiles draw handler.

@jhjojhjo do you have questions for CanvasTiles?

[2022-01-08 11:19] Zemledelec commented on #439
MR https://github.com/openglobus/openglobus/pull/460

[2022-01-09 08:44] Zemledelec opened #461 "Create CONTRIBUTION protocol"
We need to outline merge commits protocol.

For instance, every branch name template is `<feature/bug>/<issue number>_<name>`. Every merge request should be verified with @tbo47 template, and if we add module it should be added to tests.

FYI @pavletto @tbo47

[2022-01-10 22:13] tbo47 opened #462 "types are missing in npmjs.org"
when running `npm publish` npm excludes what is in `.gitignore`.
To change that, create a `.npmignore` with what to ignore.

[2022-01-10 22:15] tbo47 commented on #462
PR https://github.com/openglobus/openglobus/pull/463

[2022-01-11 08:20] Zemledelec commented on #462
Done!

[2022-01-11 08:20] #462 closed, assigned to nobody

[2022-01-11 08:39] Zemledelec commented on #439
It's done  for now. Next we will talk in the https://github.com/openglobus/openglobus/issues/459

[2022-01-11 08:39] #439 closed, assigned to Zemledelec

[2022-01-11 14:11] pavletto commented on #461
Agree.

[2022-01-11 18:05] tbo47 opened #466 "types are not published to npmjs"

[2022-01-11 18:32] #466 closed, assigned to nobody

[2022-01-12 03:31] yeluoyunfei opened #469 "Make preload optional and can be skipped"
in some scenario, we don't need preload and just load current zoom level directly.

[2022-01-12 03:38] yeluoyunfei opened #470 "Make texture merging for child nodes"
when  zoom out from ready tiles, get images from child nodes

[2022-01-12 08:50] #243 closed, assigned to Zemledelec

[2022-01-12 08:52] Zemledelec commented on #456
Here some useful examples https://github.com/openglobus/openglobus/issues/111

Lets go there for further discussion.

[2022-01-12 08:52] #456 closed, assigned to nobody

[2022-01-12 08:58] Zemledelec opened #471 "Fix ubuntu freezes"
Investigate and fix the freezes, which happens on ubuntu sometimes. It looks like chrome renderer goes software rendering. It fixed after resizing.

FYI @nameofuser1 @pavletto

[2022-01-12 09:15] Zemledelec commented on #471
https://stackoverflow.com/questions/44117440/stop-a-long-webgl-process-from-freezing-chrome

[2022-01-13 01:33] jhjojhjo commented on #111
hi.
I tried to draw heatmap using canvastile.
but heatmap point is drawn in every tile because of drawTile function.

I will draw heatmap points  only after all tiles are drawn
[test-heatmap.zip](https://github.com/openglobus/openglobus/files/7859105/test-heatmap.zip)
.

[2022-01-14 10:25] Zemledelec opened #473 "Remake preLoad function"

[2022-01-18 12:39] Zemledelec opened #474 "Fix label size"
Make label screen size independent of the pixelRatio

[2022-01-20 09:34] Zemledelec commented on #474
MR https://github.com/openglobus/openglobus/pull/475

[2022-01-24 12:59] #474 closed, assigned to nobody

[2022-01-28 20:17] tbo47 opened #479 "Better code compatibility with TypeScript"
Here is a list of problem we would have if we switch the code to typescript:

Property 'moveend' does not exist on type 'Events'
https://github.com/openglobus/openglobus/blob/master/src/og/camera/Camera.js#L183

Property 'viewchange' does not exist on type 'Events'
https://github.com/openglobus/openglobus/blob/master/src/og/camera/Camera.js#L280

[2022-01-29 14:34] Zemledelec commented on #479
FYI @pavletto

[2022-01-29 14:36] Zemledelec commented on #479
...I'd say get closer to a kind of code which suits for ts hadlers:)

[2022-01-29 14:55] Zemledelec commented on #473
MR https://github.com/openglobus/openglobus/pull/480

[2022-02-01 10:34] #473 closed, assigned to Zemledelec

[2022-02-07 22:28] #257 closed, assigned to pavletto

[2022-02-07 22:28] pavletto commented on #257
Done

[2022-02-07 22:29] #455 closed, assigned to pavletto

[2022-02-07 22:29] pavletto commented on #455
Done

[2022-02-09 10:12] yeluoyunfei opened #484 "Optimize tree neighbors finding algorithm"

[2022-02-19 22:08] #471 closed, assigned to Zemledelec

[2022-02-20 13:33] Zemledelec commented on #376
MR https://github.com/openglobus/openglobus/pull/487

[2022-02-20 16:00] #376 closed, assigned to Zemledelec

[2022-03-05 05:00] Babeev opened #488 "Mouse events at the Entity"
Is there a way to bind mouse event to an Entity? I want to add 'mouseenter' or 'click' event handler to billboard and then show popup on this billboard.
I couldn't find a way in the documentation: https://www.openglobus.org/api/module-og_entity_Entity-Entity.html

[2022-03-05 05:36] Babeev opened #489 "Error with the entity label"
<img width="440" alt="Снимок экрана 2022-03-05 в 12 18 53" src="https://user-images.githubusercontent.com/64578266/156869331-7725156f-894b-46ee-8362-8a5c640c3769.png">

https://user-images.githubusercontent.com/64578266/156869436-93555c38-d0c5-4c08-86d6-80cdfcad4018.mov

Please, explain something, I trying to add label to billboard. As image i chose a plain circle png, and change color in dependen

[2022-03-05 09:27] pavletto commented on #488
`EntityCollection` has mouse events. You can see how it works in [billboard exemple](http://openglobus.org/examples/billboards/billboards.html) ([billboard code](https://github.com/openglobus/openglobus/blob/master/examples/billboards/billboard.js))

[2022-03-05 10:38] pavletto commented on #489
Yep, problem with `z-index`. You can try set third parameter for property `offset`

[2022-03-10 04:24] Babeev commented on #488
Thank you very much

[2022-03-10 04:24] #488 closed, assigned to nobody

[2022-03-11 10:56] Babeev opened #491 "Problem with "aground" parameter"
Please tell me how I can solve the problem with the location of the entity exactly on the ground of the map? Initially, I create an empty collection of entities and add it to the planet.
[code]

Then I add an array of entities to the collection of entities.
`collection.addEntities(newEntities)`

Then I add the collection to the planet.
`collection.addTo(globe.planet)`

If I don't specify the third

[2022-03-20 09:52] magicbing opened #492 "[Reporting Bugs] When I move the map on the touch screen of my mobile phone, it will cause a bug."
![image](https://user-images.githubusercontent.com/12853293/159156409-3b4fb7f4-622d-416d-958e-d5b087bf4663.png)
When I move the map on the phone, this error occurs, and the map cannot be moved after that.

The code causing the error is in this file TouchNavigation.js, these two functions onDraw and onTouchMove.
[code]

'this.renderer.activeCamera' somethimes lose '_v'  or '_n'.

I compared the cod

[2022-04-06 09:45] Zemledelec commented on #492
Thanks! Taken.

[2022-04-06 09:49] Zemledelec commented on #491
Hi! This is very good question! I'll try to explain...

[2022-04-06 09:52] Zemledelec commented on #489
I'll answer more specifically in the https://github.com/openglobus/openglobus/issues/491

[2022-04-06 09:52] #489 closed, assigned to nobody

[2022-04-06 09:58] Zemledelec commented on #458
PR https://github.com/openglobus/openglobus/pull/483

FYI @pavletto

[2022-04-12 13:43] Zemledelec commented on #491
Third parameter is Z coordinates offset (depth buffer offset). It helps to sort labels and billboards manually. For instance you want to place background billboard under a label, both coordinates are equal. You could use Z offset for label -1, and for billboard Z = 0. Also, there is an option for `Vector/EntityCollection` objects `polygonOffsetUnits`, you could use it to sort objects the way you w

[2022-04-12 13:44] Zemledelec commented on #491
...FOR 3 vide use polygonOffsetUnits: -10000 for instance.

[2022-04-12 14:08] Zemledelec opened #495 "Try EPSG4326 quadtree for whole globe"

[2022-04-15 07:00] Zemledelec opened #497 "Outline labels display incorrectly on some gadgets"
FYI @pavletto

[2022-04-16 12:48] ghost opened #498 "KML example not loading properly"
The KML example loads the first Point Placemark (named LFPT) from the KML file, but the airplane icon is not rendered.

[2022-04-19 07:14] #458 closed, assigned to Zemledelec, pavletto

[2022-04-19 09:24] mxmtsk opened #500 "Safari 15.1 CORS issue, Safari 15.4 completely broken"
I've noticed with the official examples two issues in Safari.

On **Safari 15.1**, the globe works, but the tiles cannot be loaded due to a CORS issue ( i believe

On **Safari 15.4** however, the whole rendering of the globe seems to be broken (the screenshot is the nicest result I got, sometimes it disappears completely, no apparant issues in the console though):
<img width="1920" alt="Screenshot

[2022-04-25 08:30] Zemledelec commented on #497
PR https://github.com/openglobus/openglobus/pull/502

[2022-04-25 08:30] #497 closed, assigned to Zemledelec

[2022-04-26 10:52] pavletto opened #503 "Zooming for mobile"
Make support  two-finger zoom for the globe

[2022-04-27 13:33] Zemledelec commented on #503
MR https://github.com/openglobus/openglobus/pull/504

[2022-04-28 17:31] pavletto commented on #492
Fixed

[2022-04-28 17:31] #492 closed, assigned to nobody

[2022-04-29 20:41] dienthai2022 opened #505 "setStrokeColorArr undefined"
In Geometry.js   line 230

Looks like setStrokeColorArr is undefined?

`this._handler && this._handler.setStrokeColorArr(this, c);`

I changed to

`this._handler && this._handler.setLineStrokeColorArr(this, c);`

[2022-04-30 06:35] Zemledelec commented on #505
Hi! Looks like it was missed during a refactoring. Thanks!

Please take a look MR https://github.com/openglobus/openglobus/pull/506

[2022-05-04 17:41] #505 closed, assigned to dienthai2022

[2022-05-04 17:42] #503 closed, assigned to nobody

[2022-05-04 17:43] Zemledelec opened #508 "fix right to left label rendering"

[2022-05-04 17:43] Zemledelec commented on #508
MR https://github.com/openglobus/openglobus/pull/507

[2022-05-04 17:48] Zemledelec commented on #419
Done with https://github.com/openglobus/openglobus/issues/503

[2022-05-04 17:48] #419 closed, assigned to nobody

[2022-05-05 09:49] #508 closed, assigned to Zemledelec

[2022-05-08 09:33] yeluoyunfei opened #510 "Provide good atmosphere scattering algorithm"

[2022-05-12 06:41] Zemledelec commented on #491
Close the issue?

[2022-05-12 06:42] Zemledelec commented on #469
Is it done?

[2022-05-12 06:55] Babeev commented on #491
Yes, thank you very much!

[2022-05-12 06:55] #491 closed, assigned to nobody

[2022-05-13 13:47] yeluoyunfei commented on #469
Yes. it is done

[2022-05-13 21:26] #469 closed, assigned to nobody

[2022-05-21 13:02] ghost opened #515 "KML no longer working"
There are a couple of errors in KML.js.  Here's a partial fix:

[code]

That fixes reading KML, but then I get the following error that I haven't been able to figure out a fix for:

[code]

[2022-05-21 13:59] tbo47 commented on #515
for the first one: `name` is equivalent to `name: name`
for the second one, I already submitted a PR about it

[2022-05-21 14:30] tbo47 commented on #515
I'm planning to add unit tests for the KML code.

https://github.com/openglobus/openglobus/pull/516/files

It will allow us to:
1. document the kind of KML syntax we are supporting
2. avoid that we break one another's code

@lowswaplab @Zemledelec

[2022-05-22 09:58] Zemledelec commented on #515
Hey, guys, I'm going to merge https://github.com/openglobus/openglobus/pull/516#pullrequestreview-980934217.

Me and @pavletto mostly into core things, and we could miss bugs here. I hope we can find a solution to work with KML module, and for other new features together. Unit tests as @tbo47 propesed will help, and the checks such as lint, build, test etc.  which @tbo47 brought to the project are

[2022-05-22 15:51] Zemledelec commented on #515
@tbo47 dont forget to close relative issues.

[2022-05-22 15:51] #515 closed, assigned to nobody

[2022-05-24 21:00] Zemledelec commented on #498
FYI @tbo47

[2022-05-24 22:51] ghost commented on #498
I submitted this issue before the recent changes to the KML loading/parsing code.  The problem appeared to be external to the KML code.

I am now having the following error loading KML with the latest code.  I tried to figure it out, but couldn't...

[code]

[2022-05-25 07:46] Zemledelec commented on #498
@lowswaplab, could you attach kml file here please?

[2022-05-26 18:31] ghost commented on #498
It's the example KML: [dieppe-rouen.kml](https://github.com/openglobus/openglobus/blob/master/examples/kml/dieppe-rouen.kml)

[2022-05-27 22:34] tbo47 commented on #498
I think it's just because we mix the source code and the "compiled" code. It's not a real issue if you are only using the "compiled" code.

[2022-05-27 22:34] #498 closed, assigned to nobody

[2022-05-29 13:32] ghost opened #521 "Add getPitch(), getRoll(), getYaw() to Camera"
Is it possible to get the Camera's current roll/pitch/yaw in relation to the geodetic normal?

[2022-05-30 09:12] Zemledelec opened #522 "LabelHandler bug for empty strings"
![image](https://user-images.githubusercontent.com/5452251/170959035-a33359c9-40bf-41fa-958e-d7b95dc7bcd6.png)

[2022-05-30 14:05] Zemledelec commented on #522
MR https://github.com/openglobus/openglobus/pull/523

[2022-05-30 14:08] #522 closed, assigned to Zemledelec

[2022-05-30 14:15] Zemledelec commented on #521
No, there are no specific functions to get the values from camera, but you could try  to get the values with `Planet.getBearingNorthRotationQuat`

and for instance revert values from `GeoObject`.`updateDirection`, check it out

[code]

[2022-05-30 14:16] Zemledelec commented on #521
...and the best is to add them to PlanetCamera

[2022-06-11 13:45] Zemledelec opened #524 "XYZ "loadend" event doesn't work"
_loadend_ works pretty well for all visible layers from planet tileLoader. We need to find a way how to separate _loadend_ to each layer accordingly.

`globus.planet._tileLoader.events.on("loadend", ()=>{console.log("loadend")})`

[2022-06-11 13:46] Zemledelec commented on #510
1) Looks interesting
http://www.thetenthplanet.de/archives/4519
https://github.com/Dimev/atmosphere-shader
https://www.shadertoy.com/view/wlBXWK

2) Take a look around Bruneton: https://ebruneton.github.io/precomputed_atmospheric_scattering/

[2022-06-20 06:09] Zemledelec opened #527 "Fix vector layer tile blink when changing geometry style"
Catch the bug and try to change the style when the mouse hovers and leaves, you will see how the segment becomes empty before the style is applied.

[2022-06-20 06:20] Zemledelec opened #528 "Write a few simple lessons about how picture becomes 3d"
The questions are:
1) what's the e2e flow and How 2d image is applied to 3d globe, at which step the  transformer happens.
2) How camera play a role  in this process
3) How lighting plays a role in this process
4) Tree traversal logic? Terrain oriented render design & flow Etc.
5) Suggestions to build delightful 3d visualization experience.

[2022-06-20 06:20] Zemledelec commented on #528
FYI @yeluoyunfei

[2022-06-20 06:21] Zemledelec commented on #524
FYI @yeluoyunfei

[2022-06-20 14:02] Zemledelec opened #529 "Wrap workers into one workers pool classes"
It would be nice to have something like WorkerPool instead of bunch of the same worker arrays classes.

[2022-07-02 22:18] Zemledelec commented on #524
MR https://github.com/openglobus/openglobus/pull/531

[2022-07-04 17:34] #524 closed, assigned to Zemledelec

[2022-07-06 08:03] yeluoyunfei opened #532 "label quality improvement"

[2022-07-06 08:05] yeluoyunfei opened #534 "Pole area stretching effect when no data available"

[2022-07-17 12:11] Zemledelec commented on #532
Please, be more specific about the issue. I don't see any improvements I'd like to do with labels.

[2022-07-17 12:12] Zemledelec commented on #534
Need example

[2022-07-17 12:20] Zemledelec opened #535 "Create control for animated XYZ Layers sequence"
Make layer switching only for fully loaded tiles and implement it with an animated sequence.

[2022-07-21 07:09] Zemledelec opened #536 "Create input control for getting precise elevation by coordinates"
### DoD

- input for coordinates
- output for elevation, and sea level heigths in the coordinates

[2022-07-21 07:13] Zemledelec opened #537 "Create ruler control for measure distance depends on terrain"
### DoD
- ruler activation command
- point to point a linestring by mouse left btn clicking
- linestring path should consist of segments 10m for instance each segment relates on the ground elevation
- output the linestring length

[2022-07-21 12:17] Zemledelec commented on #536
MR https://github.com/openglobus/openglobus/pull/538

[2022-07-21 14:42] #536 closed, assigned to Zemledelec

[2022-07-26 10:15] #537 closed, assigned to Zemledelec

[2022-07-26 11:34] Zemledelec opened #544 "Improve terrain collision function"
Right now, it uses a comparatively fast but (sometimes) not precise terrain collision method.

[2022-08-02 20:40] Zemledelec opened #545 "Major label rendering optimization"
I'd try to prerender labels as one billboard and add an option named prerendered. It means that such labels are prerendered in a framebuffer (or something more convenient) and displayed as one billboard.

[2022-08-03 20:26] martyrion commented on #454
Hello,

regarding this issue,  is there a way to produce our own 3d tiles from DEM in a format accepted by OG?

[2022-08-04 09:48] Zemledelec commented on #535
PR https://github.com/openglobus/openglobus/pull/546

[2022-08-04 10:13] Zemledelec commented on #454
Hey @martyrion!

I forget the main question...I'm very sorry.

About DDM, I cannot recommend using ddm right now, because it is looks like deprecated I think, and I'd recommend to use MapboxTerrain provider, because it easy to make elevation tileset with gdal and rasterio (there is a docker https://github.com/openglobus/gdal-rio), from geotif and even from laz (lidar) when you include opendronemap

[2022-08-04 15:44] martyrion commented on #454
Thanks lot @Zemledelec , I will give it a shot ! By the way, if think openglobus is awesome, thanks!!

[2022-08-05 09:52] Zemledelec commented on #454
Thanks @martyrion! Welcome to the og forum, https://groups.google.com/g/openglobus where we discuss globus engine etc.

[2022-08-09 07:57] Zemledelec commented on #454
Answering the main question to understand ddm I'd like to refer to this answer https://github.com/openglobus/openglobus/issues/440#issuecomment-993427522
in other word ddm is a plain grid(represented as array of double values), each ddm file represents WebMercator(EPSG:3857) tile.

[2022-08-09 07:57] #454 closed, assigned to nobody

[2022-08-09 07:57] #440 closed, assigned to Zemledelec

[2022-08-09 08:20] Zemledelec commented on #528
Making https://github.com/openglobus/openglobus/wiki/How-it-works

[2022-08-09 08:20] #528 closed, assigned to Zemledelec

[2022-08-09 08:22] #532 closed, assigned to nobody

[2022-08-09 08:23] Zemledelec commented on #532
Replaced to https://github.com/openglobus/openglobus/issues/545

[2022-08-09 08:23] #535 closed, assigned to Zemledelec

[2022-08-09 14:25] martyrion opened #547 "Custom Terrain RGB tiles & Elevation control"
Hello, I have produced some custom Terrain RGB tiles,  and modified the mapboxTerrain.html example file, to read them from my server.

`maxGridSize: 256,
            "terrain": new MapboxTerrain('my-dem',{
               url: "../../../assets/gis/dem/{z}/{x}/{y}.png"
            }),`

The terrain **looks pretty good** - it is responding to reality.
Nevertheless the elevation indicator is not respo

[2022-08-09 14:36] martyrion commented on #547
I can also see on the console, that OG is trying for some reason to read to **zoom level 17 while I am currently zooming from lvl 8 to lvl 11, for example.**

![image](https://user-images.githubusercontent.com/63229987/183677213-b35a870a-0a2d-4981-b04e-fdfddb01f399.png)

[2022-08-09 16:33] Zemledelec commented on #547
It means that `CoordinatesControl `is going for elevation data. It means that `maxZoom `is equal to 17 for the layer. If you need you can change maxZoom to any zoom you need, `maxZoom `- is max available tile zoom for the terrain provider. For instance, openglobus `maxZoom `= 14, for high-resolution terrain I use 17-19 zoom levels.

[code]

,where `gridSizeByZoom` level of detail, and if you want

[2022-08-09 16:43] Zemledelec commented on #547
Hey, @martyrion

1) If you use elevation above ellipsoid WGS84, you need to disable geoid with `geoidSrc: null` in the `MapboxTerrain`

[code]

2) Set actual `maxZoom ` option

3) It depends on data of course

Btw, coordinates control shows elevation above the ellipsoid (not sea level).

[2022-08-10 09:43] Zemledelec opened #548 "Make LayerAnimation control optimization for large number of layers"

[2022-08-10 19:05] martyrion commented on #547
Thanks a lot for the detailed explanation @Zemledelec!

[2022-08-10 19:05] #547 closed, assigned to nobody

[2022-08-13 05:55] martyrion commented on #544
Where is the code for this function?

[2022-08-13 09:05] iou84 opened #550 "How to update polyline coordinates"
Dear sirs,

I am trying to show a polygon on the map (with four coordinates each time) which I want to update its coordinates every time i get the new ones but i have not managed to succeed. I always get an error.

I have tried to define my coordinates as below (one for each coordinate):

let cor4 = new LonLat(lon4,lat4);

Then created an array with all four coordinates:
grid = [cor1,cor2,cor3,cor

[2022-08-13 14:15] martyrion opened #551 "GeoImage referencing enhancement"
While dragging an image to a same-altitude area (flat area), in order to georefence it, I noticed that:

- edges match good
- mid point's have some deviation from bing map that I use as base layer. (for example a road in the middle of image doesn't match - deviation of ~ 5meters)

I am not sure it is an openglobus issue.<br>

_**If it is an OG issue**_, I propose that the geoImageDragging control

[2022-08-13 18:56] Zemledelec commented on #544
Hey @martyrion! There is a bug "jumping" on edges between tiles where terrain exists and does not exists:
https://user-images.githubusercontent.com/5452251/184507078-b4ddaef3-4089-4ea2-9425-a775616ebbca.mp4

Example:
http://openglobus.org/examples/multipleViewports/multipleViewports3.html

Code:
https://github.com/openglobus/openglobus/blob/fd88ca526eb3e1f3bbe1cc0dac36ec10ff9475bb/src/og/camera/Pl

[2022-08-13 19:03] Zemledelec commented on #550
Hi @iou84!

Take a look at an example here http://openglobus.org/examples/polylineOnTheGround/polylineOnTheGround.html, line 101.
Put your array inside another, like [[c0, c1, c2], [v1, v2, v3], ....] it means that the path consists of multiple lines the same way as the grid in the example above.

[2022-08-13 19:10] Zemledelec commented on #551
Agree!

GeoImage is a grid,  here is the grid tesselation code:
https://github.com/openglobus/openglobus/blob/fd88ca526eb3e1f3bbe1cc0dac36ec10ff9475bb/src/og/utils/GeoImageCreator.js#L35

It is hardcoded, but according to your suggestion, it could be triangulated manually with your approach.

[2022-08-14 11:48] Zemledelec commented on #459
A: Partially realized with LayerAnimation control, but the control works only on switching when a new layer is loaded. As for one layer, this issue can be done through append temporary material (currently loading) data. When temporary materials are done with loading, it becomes visible. The algorithm (and variables) is the same.

[2022-08-14 12:27] #363 closed, assigned to Zemledelec

[2022-08-14 12:31] Zemledelec commented on #326
There is no need for high-density triangulation. I think it will be enough to replace the current normal map texture rendering with per pixel rendering.

[2022-08-14 12:34] #111 closed, assigned to nobody

[2022-08-14 12:35] #246 closed, assigned to Zemledelec

[2022-08-14 12:35] #230 closed, assigned to nobody

[2022-08-14 12:36] #32 closed, assigned to nobody

[2022-08-14 17:55] iou84 commented on #550
Dear Zemledelec,
Thanks for the response

Unfortunately I have tried your advice but with no results

I have tried to replicate the polyline example but with a polygon instead of circle as per the example below:
function createGrid(coor1, coor2, coor3, coor4) {
    let grid = [];
    grid.push(coor1);
    grid.push(coor2);
    grid.push(coor3);
    grid.push(coor4);

    return grid;
};

let p1 =

[2022-08-14 18:06] iou84 commented on #550
Sorry

[2022-08-16 11:56] Zemledelec commented on #550
Should be: `'pathLonLat': [createGrid(p1,p2,p3,p4)],`

[2022-08-16 12:00] Zemledelec opened #552 "Vector layer rendering redesign: virtual texture based pipeline"
The new approach to vector layer rendering introduces a single large virtual texture (framebuffer) that replaces the current tile-by-tile rendering loop used in the vector layer pipeline.

Instead of rendering each vector tile individually, the system would maintain one shared virtual render target where the entire vector layer content is rendered in a single pass. Adding or updating tiles would n

[2022-08-16 15:06] iou84 commented on #550
Dear Michael,

Thanks again for the interest and the response and for your help
Below there is one working example:

<html>

<head>
    <title>OpenGlobus - Earth planet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/og.css" type="text/css" />
</head>

<body>
    <div id="globus" style="width:100%;height:100%"></div>

[2022-08-16 15:06] #550 closed, assigned to nobody

[2022-08-17 11:56] martyrion opened #553 "Bug in Layer Switcher"
I found a bug in Layer Switcher. I believe it existed before my last pull request.

Steps to reproduce:

1. Select an overlay to show
2. Switch between 4 different baseman's

The overlay is gone.

[2022-08-17 20:14] Zemledelec commented on #553
There was a bug, I fixed a few days ago. Try the last master.

[2022-08-18 08:27] martyrion commented on #553
Thanks a lot Michael!

[2022-08-18 08:27] #553 closed, assigned to nobody

[2022-08-18 08:39] martyrion opened #554 "Openglobus UI discussion"
Hello!

I think that it would be very nice to have a tool palette for OG. Thinks that come to my mind are:

- Layer Switcher
- Ruler
- GeoImage Dragger ON/OFF button
- Drawing tools (square, circle, sphere etc)
- Add marker

I think the heart of the UI should be the **Layer Switcher control**. It needs to perform the following:

- Change visibility (exists)
- Zoom to extend (exists)
- Lock/unlock

[2022-08-18 17:09] Zemledelec commented on #554
This is a very good idea, @martyrion !

1) As you said, each control could have a button, like layerSwitcher.
2) I'm not sure about locking a layer, what is it?
3) As far as I understand you are talking about drag and drop onside layerSwitcher?
4) It could be, also be a control for XYZ, WMS, layers, also terrain providers
5) I don't understand how a layer saving could be.

[2022-08-18 19:13] martyrion commented on #554
Hey @Zemledelec ,

2. Well, if I have 5 overlays and I want to create a new marker, in which overlay will that be placed? A more precise expression - instead of "locking" - should be "select".
3. I almost have an example ready and soon send a video.
4. I agree!
5. For example if I drag a geo-image to correct position, maybe hit a "save" button and save correct position to a file

[2022-08-19 06:26] Zemledelec commented on #554
2.. I'd suggest that there is a control(button) for only markers or layers from 4) point. For instance, if it's a marker, and the marker button is pressed, it will be able to place(and drag) the marker on the map.
5.. Need to substantiate the purpose.

[2022-08-19 07:02] martyrion commented on #554
I am not sure I understood 100%. Tomorrow I will have an example ready and then we can discuss further on that. Have a nice day!

[2022-08-20 06:40] martyrion commented on #554
Goodmorning! @Zemledelec I noticed that the 'ruler' tool creates 2 layers. Track and Corners. These layers shouldn't show up in the layer switcher, in my opinion, because they are 'helper' layers.
- What do you think about that? How should they be exlcuded. Maybe add a layer option --> showInSwitcher : boolean?
- Could you add some comments to the RulerScene.js, exlaining the logic of the code? It

[2022-08-20 14:14] waldenn commented on #269
Hey. Just checked in here, to see if there was already an issue for something like: "sustained high CPU-load with Open Globus" and saw this issue.

I think this issue is a problem on both desktop and mobile, but on mobile its just more noticeable. I'm seeing really high CPU usage in my desktop browser (70-100%), even with no camera movement / state changes.

Two performance-related screenshots (Ch

[2022-08-20 16:11] Zemledelec commented on #269
Hi @waldenn , openglobus mostly works with real-time data. I'm not sure why it takes so much CPU. Check system CPU it should b smaller (about 30%) than in the developer performance profiler.

Of course there are many ways for optimization, and the first one is as you said prevent rendering when nothing happens, for instance, hide the tab with globus, and check the CPU it will be near zero.

Also,

[2022-08-20 16:16] Zemledelec commented on #554
You read my thoughts:) Would be handy with animation control too. I'd call it `_showInTheLayerSwitcher`

ok, I'll add the comments.

[2022-08-20 16:21] Zemledelec commented on #548
FYI @yeluoyunfei

[2022-08-20 17:04] waldenn commented on #269
Yes, when you hide the tab, the RFA function does not render anymore, so the CPU usage goes away.

My system CPU is very high on both Firefox (https://ibb.co/vYLPR39) and Chrome, 70-100%.
Maybe I'm the only one seeing this (Ubuntu Linux 20.04). Will check on another system when I have the possibility.

I'll check the "EmptyTerrain" option also. Thanks!

[2022-08-21 11:07] martyrion commented on #554
This is the final concept I have in mind (inspired by Adobe Illustrator)

https://user-images.githubusercontent.com/63229987/185788045-1377d4ff-1e67-4c3e-a7c6-42709c760c11.mov

In order to do this we need:
- In layer a **_getEntityCollections & _getEntities**
- In Entity Collections a **_getEntities (it exists)**
- Maybe some other stuff also

This is what I meant by selecting which layer/collecti

[2022-08-24 08:52] Zemledelec commented on #554
It looks impressive, and more to say it could be very helpful if we have access to the vector data, such as billboards, labels, and geometry, so if we have it all, this is a way to implement style customization for the entities.

P.S.
Also, it could lead to a great tool for map customization.

[2022-08-24 08:55] Zemledelec opened #555 "Geometry not displayed correctly in the 180(-180) longitude intersection"

[2022-08-24 09:04] martyrion commented on #554
That's what I also had in mind! A way for the user to create, edit and save all kinds of geospatial data, without the need to code (or at least with minimum coding).

I reckon it could be ready by the end of the year.

When I am talking about "saving' I mean a kind of persistent storage. Just saying...

[2022-08-26 13:59] martyrion commented on #554
Hey @Zemledelec ,

can you add **setZIndex** and **getZIndex** for Vector layers? Is it difficult?

[2022-08-27 06:58] Zemledelec commented on #554
It already exists.

[2022-08-27 13:22] martyrion commented on #554
Thanks. What we have so far :

https://user-images.githubusercontent.com/63229987/187032148-db4fcd02-190a-4ef2-b016-dee4926bc0a4.mov

**ISSUE**
Although the code changes the ZIndex of Vector point layer, it always remains on top. On the contrary it works with the Vector Layer "Countries".

Also, I didn't notice any difference with the ruler when ignoring terrain.

[2022-08-27 16:21] #548 closed, assigned to Zemledelec

[2022-08-27 16:24] Zemledelec opened #558 "Add LayerAnimation control timeout for layer loadend"
If it takes too long (loadend waiting) loading, then skip the layer.

[2022-08-27 16:25] Zemledelec commented on #554
Looks like a bug...I'll check.

PS.
Dragging looks very cool!

[2022-08-28 09:50] Zemledelec opened #559 "Put terrain providers in array"
[code]

FYI @martyrion

[2022-08-28 09:50] Zemledelec commented on #554
I'll make terrains as an array but the terrain is only one active. Replaced to https://github.com/openglobus/openglobus/issues/559

[2022-08-28 12:01] martyrion commented on #559
I have a proposed a solution in the current pull request

[2022-08-28 13:08] Zemledelec commented on #554
@martyrion, have a little problem after merging:
![image](https://user-images.githubusercontent.com/5452251/187075568-54cff5a3-ffb8-4fea-ab9e-9821de813c9a.png)

Could you check it up, please?

[2022-08-28 13:27] Zemledelec commented on #554
Also, ruler doesn't work.

![image](https://user-images.githubusercontent.com/5452251/187076276-ce53f4f4-c8b7-4c94-bcff-d75279a0efc2.png)

[2022-08-28 13:38] martyrion commented on #554
I will in asap

[2022-08-28 13:39] martyrion commented on #554
This is due to long names. I will make the dialog wider.

[2022-08-28 16:32] Zemledelec commented on #554
Thanks, @martyrion!
I close the issue,  please read the text from https://github.com/openglobus/openglobus/blob/master/CONTRIBUTING.md
It will help support the code base in good condition, and free making small cleanups:)

[2022-08-28 16:32] #554 closed, assigned to martyrion

[2022-08-29 06:50] Zemledelec opened #561 "Create common UI framework"
I propose to think about how we could improve the UI interface _(based on og control)_ for common purposes. Now, we have `MenuPanel `where we place the buttons, such as `LayerSwitcher`, not exactly placed but in advance `RullerSwitcher`, it could be `DebugDialog `switcher, some timeline interface, etc.

@martyrion proposed `MenuPanel `interface, as a container for the switchers _(buttons)_. I like

[2022-08-29 07:38] martyrion commented on #561
Good morning, If I understood correctly we have to find a way to use the controls both **_programmatically_** and by **_user interface_**.
Right now - with the way I suggested - the controls can be activated **ONLY** if user presses a button.
Correct?

[2022-08-30 09:03] Zemledelec commented on #561
Hi @martyrion , yes it's right. Check my last commit for `RullerSwitcher`, this is how I think it should be.

[2022-08-30 21:18] martyrion commented on #561
Yes, it looks very good and readable. So all people who need to access certain controls via UI, can do it via the corresponding _**switchers**_ . The rest by the control itself.

Another thought was to have everything related to UI attached to the same object.

[code]
This way we can avoid repeating code and future changes/improvements will be easier. For example maybe someone wants to attach the

[2022-08-31 06:40] Zemledelec commented on #561
I can't agree that `Ruler ` _(as in the example)_ contains a pointer to a switcher. It brings hard links to the design. In my opinion Ruler _(or for example, it could be a drawing control, etc.)_ and other 3D tools are better when they are separate from UI, but UI makes them included for their purposes.

P.S
`start`, `end `in the ruler options - good idea.

[2022-08-31 06:58] martyrion commented on #561
Yes, I see what you mean. Good then!

[2022-08-31 13:25] Zemledelec commented on #561
All buttons also should be inside a container, `og-menu-bar-vertical` could be the such container.

[2022-08-31 14:49] martyrion commented on #561
I will try to implement during this weekend and send some feedback

[2022-08-31 17:38] Zemledelec commented on #558
MR https://github.com/openglobus/openglobus/pull/562

FYI @yeluoyunfei

[2022-08-31 20:25] Zemledelec commented on #561
Also, LayerSwitcher must have options to show and hide it manually, and the option to not close it when clicking outside, because it is a useful debug option.

[2022-09-01 08:19] Zemledelec commented on #558
MR https://github.com/openglobus/openglobus/pull/563

[2022-09-01 15:41] martyrion opened #564 "GeoObject YAW, ROLL"
I noticed that when setting a geoObject's **YAW** to 0, modifying the provided example
https://github.com/openglobus/openglobus/blob/e61c6e503f2bb30ae83d9403338440adb963afc4/examples/geoObject/geoObject.js#L181

the object is not pointing to the north.

[2022-09-01 17:39] Zemledelec commented on #564
@pavletto it's for you?

[2022-09-01 17:40] Zemledelec commented on #561
Can't figure out, why mouse wheel scrolling doesn't work anymore in the layerswitcher.

[2022-09-01 17:44] pavletto commented on #564
Yep, thanks, I'm check that.

[2022-09-01 18:42] martyrion commented on #561
I 'll try to look it also

[2022-09-01 18:52] martyrion commented on #564
I am not sure if it is related:

[code]
Is it normal for Quaternion to return roll when initially passed pitch?

[2022-09-02 06:49] martyrion commented on #564
Also roll seems to be a bit off

![image](https://user-images.githubusercontent.com/63229987/188075884-bba8c0a0-e1c5-41bd-bb99-61673287a09d.png)

[2022-09-02 09:30] pavletto commented on #564
Oh, you talk about plane model. Yaw and roll work fine - that model some bit broken. But I'll check it out later anyway

[2022-09-02 09:41] martyrion commented on #564
Thanks, the same also happened with other models of the example.

[2022-09-02 13:53] Zemledelec commented on #564
Hey @martyrion, I've just checked it up, and it works fine. Please take a look at `sandbox/airplane/airplane1.js` example you can run from the sandbox as well.

Cheers!

[2022-09-02 13:54] Zemledelec commented on #564
...and update from the master! I've made a simple example.

[2022-09-02 17:38] martyrion commented on #564
I can see the example with the yellow triangle showing correct yaw/roll, [https://github.com/openglobus/openglobus/blob/master/sandbox/airplane/airplane.html](url)

Still when using airplane.json file, yaw and roll are wrong - no big deal,  must be an issue of the 3d model itself!

Also I have tried to run sandbox/airplane/airplane1.html and I get this error in FireFox and Chrome:

![image](https:

[2022-09-02 19:53] Zemledelec commented on #564
Yes, it iw wrong model. Model must directed to -Z axis. Obviously plane example models directed..somehow. You can use any model you want.

Does ruler control works fine?

[2022-09-02 19:56] Zemledelec commented on #564
...try set instancing : false and set tag: "plane2" for second entity.

[2022-09-02 19:59] Zemledelec commented on #564
...and update the master branch. "No live reload" log anymore here. Try to clean the browser cache.

[2022-09-02 22:54] pavletto commented on #564
yep. this is what i meant - model is broken. it has incorrect initial states. it's my first try of import model from blender to openglobus :smile:

[2022-09-03 04:09] martyrion commented on #564
Thanks guys!

[2022-09-03 04:09] #564 closed, assigned to pavletto

[2022-09-03 18:08] martyrion commented on #561
Hey @Zemledelec, I have just noticed that html has some tags, specifically for dialogs and expandable lists.

[https://css-tricks.com/some-hands-on-with-the-html-dialog-element/](url)
[https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details](url)

Here is the browser compatibility chart:

[https://caniuse.com/details](url) - I think it has good support in almost all browsers since ~ 2016

[2022-09-03 18:44] Zemledelec commented on #561
Absolutely! Very good!

[2022-09-03 19:00] Zemledelec commented on #561
Menu betters say a container, not control. Control is like a plugin in terms of openglobus.
Could the dialog be draggable?

[2022-09-03 19:55] martyrion commented on #561
Good. Yes that is what I am planning. If it is not dialog-style (which closes when you click outside) then it will be draggable with "X" button, to close

[2022-09-04 07:49] martyrion commented on #561
Just to be sure, the following is true:

- A Layer can contain Entities.
- An Entity collection can contain Entities.
- A Layer cannot contain Entity Collections.

I think Entity Collections should live inside a Layer.

Take for example a scenario that you want to create a drone, with a vertical line to the ground and maybe a camera footprint. Isn't it natural to group them into an Entity Collecti

[2022-09-07 20:47] Zemledelec commented on #561
Only Vector layer contains entities

Vector layer contains EntityCollections, EntityCollections contains entities, but EntityCollections are not a part of the public (interface) data of a layer. EntityCollections are part of the renderer and help to render(visualize) entities. Vector layer public interface works only with entities. From this point of view, entities become part of a planet, which d

[2022-09-08 10:31] genert opened #569 "GeoVideo example not working"
The example with GeoVideo does not work. Neither the Las Vegas or the precipitation video plays - http://openglobus.org/examples/geoVideo/geoVideo.html

This might be related:
<img width="599" alt="Screenshot 2022-09-08 at 12 47 11" src="https://user-images.githubusercontent.com/1218788/189103558-a937fa14-2011-4515-9b82-18dc1bbd9c51.png">

[2022-09-10 16:59] Zemledelec commented on #569
HI @genert , what OS and browser?

[2022-09-10 17:12] #569 closed, assigned to genert

[2022-09-10 17:12] Zemledelec commented on #569
@genert check the last master please. This is texImage2D issue.

[2022-09-10 17:18] Zemledelec commented on #558
@yeluoyunfei is it ok?

[2022-09-10 23:47] yeluoyunfei commented on #558
Yes. Looks good.

[2022-09-10 23:47] #558 closed, assigned to Zemledelec

[2022-09-16 18:32] martyrion commented on #561
Hi @Zemledelec,

I have almost completed the new LayerSwitcher.

Functionality:

- Expandable sections
- Entities of a layer are presented and can be selected/unselected
- Dialog can be pinned to a position or unpinned and moved freely
- Dialog can be reset to original position
- Dialog can be minimized/maximized

https://user-images.githubusercontent.com/63229987/190707239-22847c92-9995-4643-ab5e

[2022-09-17 02:23] yeluoyunfei commented on #561
That's very cool. One thoughts from my side, I would prefer that the layers in each group is unfold instead of collapsed, so users can see all the layers directly without extra operation. what do think?

[2022-09-17 04:17] martyrion commented on #561
Hi! If you mean that initial state is unfolded, I think it is good idea. User later can collapse

[2022-09-17 11:29] yeluoyunfei commented on #561
Yes. exactly

[2022-09-17 12:29] Zemledelec commented on #561
Hi @martyrion ! It looks impressive! Let me review, please:)
I agree that unfolded groups as a default state of the interface are more convenient. If you use a component of the group it could be optional.
About your questions about the entities z indexes.

First of all, I'd like to say that this UI representation makes architecture more obvious! Great job @martyrion!

Secondly, I suggest do not to

[2022-09-17 13:20] martyrion commented on #561
I am glad you liked it! What do you mean by review? Submit pull request? I will do so in a few days - maybe tomorrow - I want to tidy up the code a bit. I also want you to review the code, I am really interested in your point of view.

So....
- Let's leave entities zIndex for now
- As for the second, I couldn't agree more! That's what I also have in mind. Click on an edit button on a layer/entity

[2022-09-17 13:34] Zemledelec commented on #561
Yes, review - merge request:)

[2022-09-20 16:44] martyrion commented on #561
Hi, what is the way to capture all picking events in a planet?

[2022-09-21 09:40] yeluoyunfei opened #571 "add pause while current tab is not active"

[2022-09-26 15:13] Zemledelec commented on #561
Good!
Hey @martyrion, I've made a few things and merged them with your request.

Let's create another issue, and you can close this.

Btw. properties and methods started with `_`, such as _active are private or protected. You can't use it (actually you can, but better not).

I didn't get your question about events. Let's discuss it in the forum!

[2022-09-26 15:13] #561 closed, assigned to martyrion

[2022-09-26 15:15] Zemledelec commented on #571
1. Add events into the engine for current tab visibility
2. Provide correct `handler.stop()` and `handler.play()` activation inside a listener

[2022-09-26 23:04] Zemledelec opened #573 "Refactor native Dialog class"
I see here View object is a base class for all UI elements, which could looks like:

[code]

Dialog, Buttons etc.  inherits View:
[code]

[code]

For instance:
[code]

FYI @martyrion, @pavletto, @tbo47

This is the next level of abstraction above your UIhelpers methods, which would be more convenient for more complex surroundings.

[2022-10-01 11:33] Zemledelec commented on #571
PR https://github.com/openglobus/openglobus/pull/574

[2022-10-02 00:30] #571 closed, assigned to nobody

[2022-10-05 15:42] Zemledelec opened #575 "LayerSwitcher list do not refresh when layer add/remove event happen"
FYI @martyrion

[2022-10-09 07:21] Zemledelec opened #576 "Implement deferred shading"

[2022-10-09 13:47] yeluoyunfei opened #577 "children entity not take parent coordinates"

[2022-10-12 16:48] martyrion commented on #575
Hey @Zemledelec! I am looking into it. Are you sure, that adding a layer doesn't work? In the layerSwitcher.html, I think it works.

[2022-10-16 01:58] yeluoyunfei commented on #575
@martyrion you can try add/remove layer after control is created.  also, previously, control can be created in globe constructor, now it has issue if doing so.

[2022-10-16 08:55] yeluoyunfei commented on #575
Also, there is no scroller now

[2022-10-17 09:47] #322 closed, assigned to Zemledelec

[2022-10-17 09:49] Zemledelec opened #579 "Remake normal map adjacent segment equalization"
According to the new terrain adjacent segments equalization, it's possible to remake normal map equalization in the same loop in the `Segment.equalize` method.

[2022-10-19 05:45] samvanemelen opened #582 "question: how frequently is the npm package updated?"
Hi

I'm super excited to start building project with openglobus {and even contribute if I am able). But for I project I am playing with right now I needed a feature that is in the 0.13.10 version (LayerAnimation). I saw that npm is only up to date until 0.13.8. Is this updated automatically every few months, or is this done manually? Or do you advise to use the repository as source rather than npm

[2022-10-19 05:53] pavletto commented on #582
Hi @samvanemelen. Npm package will be updated automatically when creating a release in project. Maybe something went be wrong, I'll check it. Thanks.

[2022-10-19 06:55] pavletto commented on #582
@samvanemelen new release is ready and published to npm!

[2022-10-19 09:23] Zemledelec commented on #582
Hi @samvanemelen, and welcome! Ask any questions in the issues or forum. Cheers!

[2022-10-20 08:26] samvanemelen commented on #582
Seems to have published perfectly, thanks!

[2022-10-20 08:26] #582 closed, assigned to nobody

[2022-10-23 16:22] samvanemelen opened #584 "Suggestion to make activation height for Sun variable"
I am working on a project where I want to keep the day/night cycle, even when zoomed in. I saw this is controlled by a global variable 'activation height'. It should only be a small change to the implementation by adding to the Sun Class:
`this.activationHeight = options.activationHeight || 12079000.0;`
and changing:
` if (cam.getHeight() < ACTIVATION_HEIGHT || !this._active) {`
to
` if (cam.getHe

[2022-10-23 18:37] samvanemelen opened #585 "Suggestion to make use of the GitHub Discussion feature"
Is there a reason why the repository does not make use of the [Github Discussion Feature](https://docs.github.com/en/discussions) but uses the google group as forum? I feel that a discussion/forum feature directly in the repository might be a more integrated way to discuss performance, features, just plain questions etc.

[2022-10-24 08:04] pavletto commented on #584
I think it's a good idea. Try to create PR! We are check them.

[2022-10-24 08:10] pavletto commented on #585
And another good idea. I thought about it before. We can try Discussions instead gitter, but until we give up the forum - let's see if  Discussions will be more popular than the forum

[2022-10-24 08:44] samvanemelen commented on #584
Great! If I understand correctly, I fork the repo, make a branch named feature/584_something and make a pull request with that branch?

[2022-10-24 08:45] pavletto commented on #584
Yep!

[2022-10-25 08:01] pavletto opened #588 "Terrain collision detection for geo objects"

[2022-10-29 10:12] yeluoyunfei commented on #584
@samvanemelen , I think this is done already?

[2022-10-29 14:21] #584 closed, assigned to nobody

[2022-11-08 12:46] Zemledelec commented on #577
@yeluoyunfei, could you explain more about this, please? Show an example, it could be bug, because in my tests children entity has the same position as their parents.

[2022-11-12 09:09] Zemledelec opened #592 "Create tests for QueueArray and implement them wherever possible"
QueueArray is a nice overlap around arrays working both as a queue and stack. Because the array size is allocated from the beginning it could work a little faster than usual arrays.

1) Tests for the queue (shift, unshift)
2) Tests for stack (pop, push)
3) tests for queue and stack simultaneously
4) Tests for zero, and tests for overflow

[2022-11-12 09:25] Zemledelec commented on #510
Bounded with https://github.com/openglobus/openglobus/issues/576

[2022-11-16 06:47] Zemledelec opened #598 "Remove fnDrawBackground from renderer and place into Planet node as a control"

[2022-11-16 06:48] Zemledelec commented on #510
MILESTONE ISSUE https://github.com/openglobus/openglobus/issues/598

[2022-11-16 08:00] #585 closed, assigned to nobody

[2022-11-16 08:01] #529 closed, assigned to pavletto

[2022-11-16 11:40] #598 closed, assigned to Zemledelec

[2022-11-16 20:35] Zemledelec commented on #575
Fixed remove/add baseLayers only.

[2022-11-16 20:35] #575 closed, assigned to nobody

[2022-11-16 20:54] Zemledelec opened #600 "LayerSwitcher doesn't handle setVisibility event"

[2022-11-17 06:48] ns-blee opened #601 "Auto Upright"
It is possible to auto upright the globe as a part of it coming to rest after zoom or movement via the mouse? Or if not possible, is there a way to detect once the globe has come to rest?

[code]

[2022-11-17 15:30] Zemledelec commented on #601
Hey, @ns-blee up vector not enough from camera ` look(look, up)`?

[2022-11-18 10:03] ns-pyadav opened #602 "Geometry which extends from base to a certain height"
Is It Possible to create a Geometrical Shape which extends from the ground to a certain altitude. Something like [this](https://globe.gl/example/world-population/)

[2022-11-18 16:58] Zemledelec commented on #602
Hi @ns-pyadav, check it out:
http://openglobus.org/examples/rays/rays.html
http://openglobus.org/examples/polylines/polylines.html
https://openglobus.org/examples/polylines/polylines2.html

[2022-11-20 06:45] #601 closed, assigned to nobody

[2022-11-22 10:15] ns-pyadav commented on #602
Hi @Zemledelec , Thank for the help !!

[2022-11-22 10:15] #602 closed, assigned to nobody

[2022-11-23 11:02] Zemledelec opened #605 "Handler start method happen even if globus is not visible"
Case:
1) Make globus div hidden
2) Minimize brwoser window
3) Back to globus, where div is still hidden

You will see that the start method has started hadler animation.

FYI @pavletto @maxbebop @yeluoyunfei

[2022-11-23 16:05] busatoa opened #607 "WMS.js setting layers property problem"
Hi,
in the WMS.js at

"this.layers = options.layers"

Uncaught TypeError: setting getter-only property "layers"

have yopu any idea to overcome this?

Regards,
Alessandro

[2022-11-25 07:10] busatoa commented on #607
I tested locally this solution:

I've modified WMS.js constructor

this._layers = options.layers;

because "_layers" is defined in Layers.js as array variable

and the layers will be passed as array

example:
var sdlsNavigations = new WMS("Natural Earth", {
            visibility: true,
            isBaseLayer: false,
            url: 'https://sdls.ogs.trieste.it/geoserver',
            layers: ['

[2022-11-25 09:49] #605 closed, assigned to pavletto

[2022-11-26 07:39] Zemledelec commented on #607
Hey @busatoa , thank you! It was another bug inside Layer, somehow `_layers` has merged in the class. I removed it from the base layer. WMS is good now with public `this.layer`.

[2022-11-26 07:39] #607 closed, assigned to nobody

[2022-11-26 08:10] Zemledelec commented on #588
Firstly, let's stay on that we check only bounding volumes collision detection for simplicity. Secondly, the vague term collision detection could be considered with dynamic collision detection and static collision detection. The dynamic thing sounds like a prediction feature, and we don't have proper options for geo objects, such as velocity. Let's get started with static objects, and it's quite e

[2022-11-26 12:18] busatoa opened #609 "WMS.js request for new feature, pass to url extra (vendors) parameters"
I need to pass extra parameters into URL which are not included into default WMS.js options, both by standard wms reference or by vendors, ie. SLD  or TRANSPARENT;
Transparent option is very important for my job, it permits me to get small rendered layer from geoserver without cover the rest of globe.

I locally solved in this way,
[code]

I add into WMS constructor a third parameter with extra  o

[2022-11-26 14:28] Zemledelec commented on #609
It's ok! Could you make a pull request, please?

[2022-11-27 08:12] busatoa commented on #609
I created a pull request via fork because I think I haven't got permission to push new branch  under openglobus master.

[2022-11-29 12:47] Zemledelec commented on #609
@busatoa done?:)

[2022-11-29 12:58] #609 closed, assigned to nobody

[2022-11-29 16:18] busatoa opened #611 "Area selection to get an extent to use in remote OGC services like WFS"
I need to select an area (extent) in order to query WFS service,
so I implemented a control named **Selection** based on **Ruler** and **GeoImageDraggingControl** (for activation button)
you can check all on  **fork busatoa:feature/add_selection_control**
The example code is this:

[code]

The control is activate via button , the activation stop main mouse navigation (pan) and the rectangle is
dra

[2022-11-30 11:20] Zemledelec commented on #611
Hey! I've just tried, I see console.log but nothing happens on the map. I suppose we have to see a poly or outline on the map, therefore I recommend using isClosed: true option for polyline, and just append a point to the end of the polyline, then draw Vector area, but not it's not necessary the first time.

[2022-11-30 11:21] Zemledelec commented on #611
@busatoa , could you show a picture of what to see? Also, I removed all openlayers strategy code, and only console.log was left.

[2022-11-30 11:27] busatoa commented on #611
<img width="484" alt="Screenshot 2022-11-29 at 17 14 11" src="https://user-images.githubusercontent.com/85111824/204783976-43201d5a-d01c-4527-ba5c-13fe2353bfcc.png">

After selection a callback is called and into this function you implement the logic of you application using properly the extent, for example simply console.log, query WMS service or other ones.

[2022-11-30 14:16] Zemledelec commented on #611
I see! Cool! It works! For the beginning very cool, and could be as a view selection tool the same as ol do. For areas, polygons sounds better.
@busatoa make merge request, please!

[2022-11-30 14:18] Zemledelec commented on #611
...but not the same button for images.

[2022-11-30 16:11] busatoa commented on #611
@Zemledelec have you designed the image button by yourself or you are using a web icon repository?